<div clas="panel panel-default">
    <div class="panel-heading">
        <h3 class="tituloSeccion">
            Acceso a Leyes
        </h3>
    </div>
    <div class="panel-body">

        <div class="panel">
            <div class="panel-heading">
                <p class="lead" style="text-align:left;">
                    Éste servicio se encuentra publicado en la página web del Poder Judicial de la Provincia de Jujuy 
                    (<a href="http://www.justiciajujuy.gov.ar" target="_blank" class="btn btn-link">www.justiciajujuy.gov.ar</a>), puede ingresar a su buscador haciendo <a href="http://www.justiciajujuy.gov.ar:802/wwwisis/SIBLE.01/form.htm" target="_blank" class="btn btn-primary">click aquí.</a>
		        </p>
            </div>
            <div class="panel-body">
                <iframe src="http://www.justiciajujuy.gov.ar:802/wwwisis/SIBLE.01/form.htm" style="width:100%; height:1000px;overflow:auto;">Necesita un navegador moderno.</iframe>
            </div>
        </div>

    </div>
</div>