<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="tituloSeccion text-capitalize text-nowrap">
            Audiencias Públicas
        </h3>
    </div>

    <div class="panel-body">

        <!-- https://www.youtube.com/luiyi03245/live -->
        <p class="text-center">
            <iframe src="https://www.youtube.com/embed/9o8RD96QNZw" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
        <p>

        <p>&nbsp;</p>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title text-capitalize text-nowrap">
                    versiones taquigr&aacute;ficas de audiencias p&uacute;blicas
                </h3>
            </div>
            <div class="panel-body" style="width:auto; text-align:left;">
                <!--- VERSIONES TAQUIGRAFICAS DE AUDIENCIAS PUBLICAS -->
                <div id="treeBox" style="overflow: hidden;" class="dhxtree_dhx_skyblue">
                </div>
                <!--- /VERSIONES TAQUIGRAFICAS DE AUDIENCIAS PUBLICAS -->
            </div>
        </div>

    </div
    > 
</div>
