<div class="panel panel-default">
    <div class="panel-heading">
        Audiencias Públicas
    </div>
    <div class="panel-body container" style="width:auto; text-align:center;">
        <!-- https://www.youtube.com/luiyi03245/live -->
        <iframe src="https://www.youtube.com/embed/9o8RD96QNZw" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
        <br/>
        <br/>
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Versiones Taquigráficas de Audiencias Públicas
                </h3>
            </div>
            <div class="panel-body" style="width:auto; text-align:left;">
                <!--- VERSIONES TAQUIGRAFICAS DE AUDIENCIAS PUBLICAS -->
                <div id="treeBox" style="overflow: hidden;" class="dhxtree_dhx_skyblue">
                </div>
                <!--- /VERSIONES TAQUIGRAFICAS DE AUDIENCIAS PUBLICAS -->
            </div>
        </div>
    </div> 
</div>