<section class=""> <!-- Botones grandes -->
    <article>
        <div class="row clearfix">
            <div class="container col-xs-4 text-center cajaBotonesGrandes">
                <button class="btnPresidencia"></button>
                    <h4>Presidencia</h4>	
            </div>
            <div class="container col-xs-4 text-center">
                <button class="btnLegislatura"></button>
                <h4>Legislatura</h4>
            </div>
            <div class="container col-xs-4 text-center">
                <button class="btnSesion"></button>
                <h4>Sesi&oacute;n en vivo</h4>
            </div>
        </div>
    </article>
</section> <!-- Cierre botones grandes -->