<div class="row clearfix">
    <div class="container col-xs-12 col-md-9">
        <div class="row lineaVertical">
            <div class="col-xs-3 pull-left">
                <img class="img-responsive" src="images/boletin.jpg" alt="">
            </div>
            <div class="col-xs-9 pull-right">
                <p class="tituloSeccion">Bolet&iacute;n Legislativo</p>
                <p class="help-block espacioSuperior">
                    El Boletín Legislativo se publica por decisión de las autoridades de la Legislatura de facilitar el acceso a la información pública y de difundir a la brevedad las normativas (leyes, resoluciones, declaraciones, pedidos de informes, etc.) aprobadas y sancionadas en las sesiones de la Cámara.
                    La periodicidad del Boletín será semanal y estará disponible en esta página web, el día subsiguiente a la realización de la sesión respectiva.
                    Los temas citados en cada ejemplar se los pueden encontrar ingresando a Asuntos Entrados y en el respectivo Diario de Sesiones aprobado, que contiene el desarrollo completo de cada reunión de la Cámara.
                    El diario de sesiones digital no solo tiene un Sumario que es la síntesis de los asuntos tratados, sino que además presenta Enlaces a copia del texto original de todos los documentos y a las deliberaciones de los temas considerados en la sesión.
                    Cuando se considere de interés para la comunidad, se incluirán otras disposiciones e informaciones.
                </p>
            </div>
        </div>
        <br><br><br><br>
        <p class="text-center texto">Ingrese fecha:
            <input
                class="date"
                type="text"
                size="10"
                ng-model="fecha"
                data-date-type="string"
                data-date-format="dd/MM/yyyy"
                bs-datepicker/>
            <button
                type="button"
                class="btn btn-primary"
                ng-click="boletinBuscar()">
                <span
                    class="glyphicon glyphicon-calendar"
                    />
                    Buscar
            </button>
            <button
                type="button"
                class="btn btn-primary"
                ng-click="boletinCerrar()">
                <span
                    class="glyphicon glyphicon-remove"
                    />
                    Cerrar
            </button>
        </p>
    </div>
    <div
        ng-show="boletinShow"
        class="row espacioSuperior">
        <div
            id="muestraBoletin"
            class="container well espacioSuperior">

            <object
                type="application/pdf"
                data="boletin/{{boletin}}"
                width="100%"
                height="500"
                style="height:85vh;">
            </object>

        </div>
	</div>
</div>