<!-- Destacados -->
<div class="row espacioSuperior">
	<div class="container col-12">
		<p class="tituloSeccion">Destacados</p>
	</div>
</div>
<div class="row">
	<div class="container destacados">

		<ng-controller ng-controller="homeController">
			<ng-repeat  ng-repeat="n in noticiasTop4.noticias">
				<div class="container col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<div class="noticiasChicas">
						<div class="zoom">
							<a href="#/leer-noticia/{{n.uriname}}">
								<img class="img-responsive" src="/imgcdn/fotografias/{{n.fotografias[0].fotografia}}"></img>
							</a>
						</div>
						<div class="linea"></div>
						<a href="#/leer-noticia/{{n.uriname}}">
							<p class="titulo">
								{{n.titulo}}
							</p>
						</a>
						<p class="texto text-justify">
							{{n.cabeza}}
						</p>
					</div>
				</div>
			</ng-repeat>
		</ng-controller>

	</div>
</div>
<!-- /Destacados -->