		<section class="espacioSuperior"> <!--Destacado -->
			<article>
				<div class="row">
					<p class="tituloSeccion">Destacados</p>
				</div>
				<div class="row clearfix destacados">
					<div class="container col-xs-12 col-sm-6 col-md-3">
						<div class="noticiasChicas">
							<div class="zoom">
								<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-42223000-1473989340-DSC_0023.JPG"></img></a>
							</div>
							<div class="linea"></div>
							<a href="#"><p class="titulo">SE APROBÓ LA LEY DE NOCTURNIDAD</p></a>
							<p class="texto text-justify">La Cámara de Diputados provincial aprobó la ley Nº 5955 que regula Las actividades nocturnas y espectáculos públicos. La misma establece que el nuevo horario de cierre de boliches...</p>
						</div>
					</div>
					<div class="container col-xs-12 col-sm-6 col-md-3">
						<div class="noticiasChicas">
							<div class="zoom">
								<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-82827800-1473989045-DSC_1276.jpg"></img></a>
							</div>
							<div class="linea"></div>
							<a href="#"><p class="titulo">LA LEGISLATURA HOMENAJEÓ A DEPORTISTAS Y A GAUCHAS JUJEÑAS</p></a>
							<p class="texto text-justify">En el inicio de la 20ma Sesión Ordinaria, la Legislatura de Jujuy hizo entrega de diplomas honoríficos a la Asociación Civil “La Gauchita – en homenaje a las mujeres que hicieron patria”...</p>
						</div>
					</div>
					<div class="container col-xs-12 col-sm-6 col-md-3">
						<div class="noticiasChicas">
							<div class="zoom">
								<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-91844500-1473870591-DSC_1241.jpg"></img></a>
							</div>
							<div class="linea"></div>
							<a href="#"><p class="titulo">EL DIPUTADO PROVINCIAL RODOLFO NIETO VISITÓ LA COOPERATIVA "SUEÑOS DE SEDA"; DE LA CIUDAD DE EL CARMEN</p></a>
							<p class="texto text-justify">Como un claro ejemplo de la matriz productiva que impulsa la provincia de Jujuy, la Cooperativa Sueños de...</p>
						</div>
					</div>
					<div class="container col-xs-12 col-sm-6 col-md-3">
						<div class="noticiasChicas">
							<div class="zoom">
								<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-83502900-1473870303-DSC_1219.JPG"></img></a>
							</div>
							<div class="linea"></div>
							<a href="#"><p class="titulo">LA COMISIÓN DE TRABAJO DE LA LEGISLATURA DE JUJUY RECIBIÓ A DELEGADOS DE UATRE- OSPRERA</p></a>
							<p class="texto text-justify">La comisión de Trabajo y Seguridad Social de la Legislatura de Jujuy recibió a integrantes de UATRE-OSPRERA para conversar sobre la situación laboral...</p>
						</div>
					</div>
				</div>
			</article>
		</section> <!-- Cierre destacado -->