<table class="table bordered striped centered">
	<tr>
		<td></td>
		<td>
			<strong>Fotograf&iacute;a</strong>
		</td>
		<td>
			<strong>Diputado</strong>
		</td>
		<td>
			<strong>Bloque</strong>
		</td>
	</tr>
	<tr ng-repeat="d in diputados">
		<td>
		</td>
		<td>
			<a href="#/{{d.uriname}}">
				<img src="/public/img/diputados/{{d.fotografia}}" width="150">
			</a>
		</td>
		<td>
			<strong>
				<a href="#/{{d.uriname}}">
					{{d.nombre}}
				</a>
			</strong>
			<br>
			<strong>
				{{d.mandato}}
			</strong>
			<br>
			{{d.email}}
		</td>
		<td>
			<img src="/public/img/bloques/{{d.escudo}}" width="50">
			<br/>
			{{d.bloque}}<br>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
		<td>
			&nbsp;
		</td>
	</tr>
</table>