<div class="row">

	<!-- Menu Local -->
	<div ng-include src="'views/localmenu.html'"></div>
	<!-- /Menu Local -->

	<!-- Grid  Fotografias -->
	<div class="col s12 m12 l6" ng-repeat="f in fotografias">
		<div class="card white darken-2">
			<div class="card-action grey lighten-2 grey-text text-darken-1 right-align">
				{{diputado.nombre}}
			</div>
			<div class="card-image black-text">
				<img src="{{f}}"/>
			</div>
			<div class="card-action blue-text text-darken-2 valign-wrapper" style="cursor:pointer;">

				<a class="blue-text text-darken-2 valign activator" href="{{diputado.flickr}}" target="_blank">
					<i class="material-icons valign">
						send
					</i>
				</a>
			</div>
		</div>
	</div>
	<!-- /Grid Fotografias -->

</div>