<div class="carousel-inner" style="float: left;">
    <div class="item active">
        <div class="fill" style="background-image:url('images/slide01.jpg');"></div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('images/slide02.jpg');"></div>
    </div>
    <div class="item">
        <div class="fill" style="background-image:url('images/slide03.jpg');"></div>
    </div>
</div>

<a class="left carousel-control" href="#slidePrincipal" data-slide="prev">
    <span class="icon-prev"></span>
</a>
<a class="right carousel-control" href="#slidePrincipal" data-slide="next">
    <span class="icon-next"></span>
</a>

<!-- contenedor logo -->
<div class="container cabezal">
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3 fondoLogo">
            <img class="logo" src="images/logo.png" width="150" height="auto" alt="Legislatura de Jujuy">
        </div>
    </div>
</div>
<!-- cierra contenedor logo -->