	<section class="main container marcoPagina">
		
		<section> <!-- Actividad del dia y boletin oficial -->
			<article>
				<div class="row clearfix">
					<div class="container col-xs-12 col-md-9">

						<!-- Widget: Actualidad -->
						<div class="container col-xs-12 col-md-4">
							<p class="tituloSeccion visible-xs visible-lg">Actividad del d&iacute;a</p>
							<p class="tituloSeccion visible-sm visible-md">Actividad d&iacute;a</p>
							<div class="actividadDia">
								<div class="zoom">
									<a ng-click="showModalActivad()" style="cursor:pointer;">
										<img class="img-responsive" src="{{actividad.archivo}}">
									</a>
								</div>
								<div class="linea"></div>
								<a  ng-click="showModalActivad()"  style="cursor:pointer;">
									<p class="titulo" style="color:#fff;">
										{{actividad.nombre}}
									</p>
								</a>
								<p class="texto text-justify">
									{{actividad.descrip}}
								</p>
							</div>
						</div>
						<!-- /Widget: Actividad -->

						<!-- Widget: Boletín Legislativo. -->
						<div class="container col-xs-12 col-md-8">
							<p class="tituloSeccion">Bolet&iacute;n Legislativo</p>
							<div class="cajaBoletin">
								<ul id="scrollBoletin">
									<li ng-repeat="b in boletin">
										<a ng-click="showModalBoletin(b.titulo)" style="cursor:pointer;">
											<p class="titulo">BOLETÍN LEGISLATIVO {{b.titulo}}</p>
											<p class="text-justify texto">Periodo Legislativo: {{b.periodo}}</p>
											<p class="text-justify texto">Sesión N° y Tipo: {{b.session}}</p>
											<p class="text-justify texto">Fecha: {{b.fecha}}  Horas: {{b.horas}}</p>
										</div></a>
									</li>
								</ul>
							</div>
							<div class="pull-right espacioSuperior">
								<button ng-click="showModalBoletinInfo()" type="button" class="btn btn-info">
									Informaci&oacute;n
									<span class="glyphicon glyphicon-info-sign"/>
								</button>
								<button ng-click="gotoBuscarBoletin()"    type="button" class="btn btn-primary">
										Buscar por fecha
										<span class="glyphicon glyphicon-calendar"></span>
								</button>
							</div>
						</div>
						<!-- /Widget: Boletín Legislativo. -->
						
					</div>

					<aside> <!-- Marcos Paz -->
						<div class="container col-xs-12 col-md-3">
							<p class="tituloSeccion hidden-md">Sal&oacuten Marcos Paz</p>
							<p class="tituloSeccion visible-sm visible-md">Marcos Paz</p>
							<div class="marcosPaz">
								<div class="zoom">
									<a href="#" data-toggle="modal" data-target="#marcosPaz"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-46888100-1474373928-DSC_1448.JPG"></a>
								</div>
								<div class="linea"></div>
								<a href="#" data-toggle="modal" data-target="#marcosPaz"><p class="titulo">EL VICEGOBERNADOR ACOMPAÑÓ A LA JUVENTUD EN LA ELECCIÓN PROVINCIAL</p></a>
							</div>
						</div>
					</aside>

					<div id="marcosPaz" class="modal fade" role="dialog">
							<div class="modal-dialog modal-lg">
							    <div class="modal-content">
									<div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal">&times;</button>
								        <h4 class="modal-title">Sal&oacute;n Marcos Paz</h4>
								      </div>
								      <div class="container modal-body">
								      	<img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-46888100-1474373928-DSC_1448.JPG" width="800"></img>
      									<p class="titulo">Nombre de la Actividad</p>
										<div class="container text-justify">
											<table border="1px" width="70%">
											    <thead>
											      <tr>
											        <th>Fecha</th>
											        <th>Hora</th>
											        <th>Contenido</th>
											        <th>Requisitos</th>
											      </tr>
											    </thead>
											    <tbody>
											      <tr>
											        <td>25/09/2016</td>
											        <td>20.30hs.</td>
											        <td>Descripci&oacute;n de la actividad</td>
											        <td>Requisitos para participar</td>
											      </tr>
											    </tbody>
											</table>
										</div>
							    	  </div>
							      	<div class="modal-footer">
							        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							      	</div>
							    </div>
							</div>
					</div>
				</div>
			</article>
			
		</section> <!-- Cierre actividad del dia y boletin oficial -->

		<div class="row"> <!--Row de Noticias y Archivo historico -->

			<div class="container col-sm-12 col-md-9"> <!-- Contenedor Noticias -->

				<section> <!-- Noticias 1 grande y 2 chicas-->
					<div class="row">
						<p class="tituloSeccion">Noticias</p>
					</div>
					<article>
						<div class="row clearfix">
							<div class="container col-xs-12 col-md-6 clearfix">
									<div class="zoom">
										<a href="noticia.html"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-90017000-1474738591-14358737_703890403101427_7614554396167913057_n.jpg"></a>
									</div>
									<div class="linea"></div>
									<a href="noticia.html"><p class="titulo">EL VICEGOBERNADOR ACOMPAÑÓ A ROGELIO FRIGERIO DURANTE SU VISITA</p></a>
									<p class="texto text-justify">Como parte de una agenda muy apretada, el presidente de la Cámara de Diputados de Jujuy, Carlos Haquim acompañó la visita del ministro del Interior de la Nación, Rogelio Frigerio, el Gobernador, Gerardo Morales, el intendente de San Salvador de Jujuy, Raúl Jorge y al intendente de la ciudad de Palpalá, Pablo Palomares...</p>
							</div>
				
							<div class="container col-xs-12 col-md-6">
								<div class="noticiaChica">
									<div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
										<a href="noticia2.html"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-61829400-1474738180-IMG_0623.jpg" height="100%" alt=""></a>
										<div class="linea"></div>								
									</div>
									<a href="noticia2.html"><p class="titulo">CARLOS HAQUIM PARTICIPÓ DEL 62° CONGRESO NACIONAL  DE VETERANOS DE GUERRA DE LA REPÚBLICA ARGENTINA</p></a>
								</div>
								<div class="noticiaChica" style="margin-top:6px">
									<div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
										<a href="#"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-68352700-1474629798-DSC_0114.JPG" height="100%" alt=""></a>
										<div class="linea"></div>
									</div>
									<a href="#"><p class="titulo">CARLOS HAQUIM RECIBIÓ A VETERANOS DE MALVINAS</p></a>
								</div>
							</div>
						</div>
					</article>
				</section> <!-- cierre noticias 1 grande y 2 chicas-->
				
				<section class="espacioSuperior"> <!-- 3 notas chicas -->
					<article>
						<div class="row clearfix">
							<div class="container col-xs-12 col-md-4">
								<div class="zoom">
									<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-92852300-1474479675-DSC_0036.jpg"></a>
								</div>
								<div class="linea"></div>
								<a href="#"><p class="titulo">BUSCAN DAR SOLUCIONES A LOS PROBLEMAS DE LOS TRABAJADORES TABACALEROS</p></a>
								<p class="texto text-justify">La Comisión de Trabajo y Seguridad de la Legislatura, en respuesta a las inquietudes planteadas por delegados de la Unión Argentina de Trabajadores Rurales y Estibadores (UATRE), se reunió con el presidente de la Cámara del Tabaco de Jujuy, Pedro Pascuttini , y el Ministro de Trabajo, Jorge Cabana Fusz.</p>
							</div>
							<div class="container col-xs-12 col-md-4">
								<div class="zoom">
									<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-49887500-1474456828-DSC_0079.jpg"></a>
								</div>
								<div class="linea"></div>
								<a href="#"><p class="titulo">LA ASOCIACIÓN CIVIL LAS GAUCHITAS RECIBIÓ DIPLOMA DE HONOR GAUCHO POR PARTE DEL CONSEJO FEDERAL DEL FOLKLORE DE ARGENTINA</p></a>
								<p class="texto text-justify">En el Salón Marcos Paz de la Legislatura, la Asociación Civil las Gauchitas de Jujuy recibió por parte de la Consejo Federal  del Folklore de Argentina, el diploma de honor gaucho y Bandera del COFFAR por su constante labor en la promoción de la cultura y por su destacada participación en los actos centrales</p>
							</div>
							<div class="container col-xs-12 col-md-4">
								<div class="zoom">
									<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-68571600-1474373928-DSC_1446.JPG"></a>
								</div>
								<div class="linea"></div>
								<a href="#"><p class="titulo">EL VICEGOBERNADOR ACOMPAÑÓ A LA JUVENTUD EN LA ELECCIÓN PROVINCIAL</p></a>
								<p class="texto text-justify">Anoche en el estadio La Tablada se eligió a la Reina Provincial, el vicegobernador a cargo del Ejecutivo, C.P.N. Carlos Haquim, participó de este evento tan importante para los estudiantes jujeños. En la ocasión, saludó a Manuela Poma, la flamante reina que representará a Jujuy en la elección Nacional.</p>
							</div>
						</div>
					</article>
				</section> <!-- cierre 3 notas chicas -->

				<div class="row col-xs-12">
					<a href="noticias.html"><button type="button" class="btn btn-info pull-right btn-block">M&aacute;s noticias</button></a>
				</div>

				<section> <!-- Noticias Diputados -->
					<article>
						<div class="row clearfix">
							<div class="noticiasDiputados espacioSuperior" style="margin-left: 15px;">
								<div class="container col-xs-12 col-md-6 clearfix espacioSuperior">
									<p class="tituloSeccion espacioSuperior" style="color:#fff;">Noticias</p>
										<div class="zoom">
											<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-05010000-1474299877-DSC_0038.jpg"></a>
										</div>
										<div class="linea" style="background-color: #337ab7;"></div>
										<a href="#"><p class="titulo" style="color: #fff;">EN LA LEGISLATURA SE REALIZÓ EL EXAMEN PARA OCUPAR EL CARGO DE JUEZ DE VIOLENCIA DE GÉNERO</p></a>
										<p class="texto text-justify" style="color: #fff;">En el marco de la nueva metodología de selección de integrantes del Poder Judicial, más de veinte postulantes rindieron en el Recinto de la Legislatura,el examen que constituye el concurso de oposición para ocupar el cargo de Juez de violencia de Género.  </p>
								</div>
												
								<div class="container col-xs-12 col-md-6 espacioSuperior">
									<div class="noticiaChica">
										<div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
											<a href="#"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-94258800-1474285012-DSC_0009.jpg" height="100%" alt=""></a>
											<div class="linea" style="background-color: #337ab7;"></div>
										</div>
										<a href="#"><p class="titulo">ALUMNOS DE LA ESCUELA PRIMARIA N°299 DE LA LOCALIDAD DE LAGUNILLAS DE POZUELOS VISITARON LA LEGISLATURA</p></a>
									</div>
									<div class="noticiaChica" style="margin-top:6px;">
										<div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
											<a href="#"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-34419600-1474284659-DSC_0051.jpg" height="100%" alt=""></a>
											<div class="linea" style="background-color: #337ab7;"></div>
										</div>
										<a href="#"><p class="titulo">RECONOCIMIENTO PARA EL CANTAUTOR JUJEÑO NINO FUENTES</p></a>
									</div>
									<button type="button" class="btn btn-warning btn-block espacioSuperior">M&aacute;s noticias</button>
								</div>
							</div>
						</div>
					</article>
				</section> <!-- cierre noticias 1 grande y 2 chicas Diputados -->


			</div> <!-- Cierre Contenedor Noticias -->

			<!-- Contenedor Archivo historico -->

			<div class="container col-md-3 hidden-xs hidden-sm">
				<div class="botonesLaterales text-center">
					<p class="tituloSeccion" style="color: #fff">Archivo Hist&oacute;rico</p>
					<div style="background-color:#eeeeee; padding:10px;">
						<div id="slideHistorico" class="carousel slide" style="margin-bottom: 10px;">
						    <a href="historico.html">
						    <div class="carousel-inner">
						        <div class="item active">
							        <div class="fill" style="background-image:url('images/hist01.jpg');"></div>
						        </div>
							    <div class="item">
									<div class="fill" style="background-image:url('images/hist02.jpg');"></div>
								</div>
								<div class="item">
									<div class="fill" style="background-image:url('images/hist03.jpg');"></div>
								</div>
							</div></a>
					        <a class="left carousel-control" href="#slideHistorico" data-slide="prev">
				            <span class="icon-prev"></span>
					        </a>
					        <a class="right carousel-control" href="#slideHistorico" data-slide="next">
				            <span class="icon-next"></span>
					        </a>
					    </div>

						<button type="button" class="btn btn-danger btn-block">
							<p>Honorable</p>
							<p>Convenci&oacuten</p>
							<p>Constituyente</p>
							<p>de la Provincia</p>
							<p>de Jujuy</p>
						</button>
						<button class="btn btn-info btn-block">
							<p>Ceremonial</p>
							<p>y Protocolo</p>
						</button>
						<button class="btn btn-info btn-block">
							<p>Biblioteca</p>
						</button>
						<button class="btn btn-info btn-block">
							<p>Audiencias</p>
							<p>P&uacuteblicas</p>
						</button>
					</div>
				</div>
			</div> <!-- Cierre Archivo Historico -->

		</div> <!-- Cierre Row -->