<ng-controller ng-controller="homeController">
	<!-- Sección: Actividad y Boletín. -->
	<section class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<ng-include src="'views/home/widgets/actividad.del.dia.html'"></ng-include>
			<ng-include src="'views/home/dialogs/actividad.del.dia.html'"></ng-include>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
				<ng-include	src="'views/boletin_legislativo/widgets/boletin.legislativo.html'"></ng-include>
				<ng-include	src="'views/boletin_legislativo/dialogs/boletin.legislativo.information.html'"></ng-include>
		</div>
	</section>
	<!-- /Sección: Actividad y Boletín. -->

	<!-- Sección: Noticias Desacada 1,2. -->
	<section class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<p class="tituloSeccion">
				Noticias
			</p>
		</div>
	</section>
	<section class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<ng-include src="'views/home/widgets/noticias.destacada.1.html'"></ng-include>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<ng-include src="'views/home/widgets/noticias.destacada.2.html'"></ng-include>
		</div>
	</section>
	<!-- /Sección: Noticias Destacada 1,2. -->

	<!-- Sección: Noticia Destacada 3. -->
	<section class="row">
		<ng-include src="'views/home/widgets/noticias.destacada.3.html'"></ng-include>		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a href="#/leer-noticia/todas/legislatura" class="btn btn-info btn-block" style="width:100%;">
				Más noticias
			</a>
		</div>
	</section>
	<!-- /Sección: Noticia Destacada 3. -->

	<!-- Seccion: Noticias Destacadas en Rojo. -->
	<section class="row espacioSuperior">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="container-fluid noticiasDiputados">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 espacioSuperior">
						<ng-include src="'views/home/widgets/noticias.destacada.rojo.1.html'"></ng-include>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 espacioSuperior">
						<ng-include src="'views/home/widgets/noticias.destacada.rojo.2.html'"></ng-include>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /Seccion: Noticias Destacadas en Rojo. -->
</ng-controller>