<!-- GroupsWidgets: Actividad del Dia, Boletin y Marcos Paz. -->
<div class="row-fluid">
	<!-- Widget: Actualidad -->
	<ng-include
		class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
		src="'views/home/widgets/actividad.del.dia.html'">
	</ng-include>
	
	<!-- Widget: Boletín Legislativo. -->
	<ng-include
		class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
		src="'views/home/widgets/boletin.legislativo.html'">
	</ng-include>
	
	<!-- Widget: Marcos Paz -->
	<ng-include
		class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
		src="'views/home/widgets/marcos.paz.html'">
	</ng-include>
</div>
<!-- /Widgets: Actividad del Dia, Boletin y Marcos Paz. -->

<!-- GroupsWidgets: Noticias Home, Archivo -->
<div class="row-fluid">
	<!-- Widget:Noticias del Home. -->
	<ng-include
		class="col-xs-12 col-sm-12 col-md-9 col-lg-9"
		src="'views/home/widgets/noticias.home.html'">
	</ng-include>
	
	<!-- Widget:Archivo Historico. -->
	<ng-include
		class="hidden-xs hidden-sm col-md-3 col-lg-3"
		src="'views/home/widgets/archivo.historico.html'">
	</ng-include>
</div>
<!-- /GroupsWidgets: Noticias Home, Archivo-->

<!-- GroupsWidgets: Noticias de Diputados -->
<div class="row-fluid">
	<!-- Widgets: Noticias de Diputados. -->
	<ng-include
		class="col-xs-12 col-sm-12 col-md-9 col-lg-9"
		src="'views/home/widgets/noticias.diputados.html'">
	</ng-include>

	<!-- Widgets: Columna vacía. -->
	<div
		class="hidden-xs hidden-sm col-md-3 col-lg-3">
	</div>

</div>
<!-- /GroupsWidgets: Noticias de Diputados -->