
						<p class="tituloSeccion">EL VICEGOBERNADOR ACOMPAÑÓ A ROGELIO FRIGERIO DURANTE SU VISITA</p>
						<div class="espacioSuperior zoom" style="height: 350px;">
							<img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-90017000-1474738591-14358737_703890403101427_7614554396167913057_n.jpg" width="100%">
						</div>						
						<div class="linea"></div>
						<p class="espacioSuperior texto text-justify">Como parte de una agenda muy apretada, el presidente de la Cámara de Diputados de Jujuy, Carlos Haquim acompañó la visita del ministro del Interior de la Nación, Rogelio Frigerio, el Gobernador, Gerardo Morales, el intendente de San Salvador de Jujuy, Raúl Jorge y al intendente de la ciudad de Palpalá, Pablo Palomares en el cierre del Programa “el Estado el tu Barrio”, desarrollado durante tres días en el predio “Aguas Danzantes”. Además, en ese marco recorrieron la fábrica de termo tanques solares de la Fundación Eco Andina.

En ese contexto el ministro del interior, Rogelio Frigerio, sostuvo que la presencia del Estado es importante para acercar soluciones a la gente en un claro entendimiento de que: “en la Argentina necesitamos más cercanía con todos los vecinos y los ciudadanos del País”, remarcó.



En tanto el Gobernador, Gerardo Morales expresó que se está trabajando fuertemente en la ejecución del programa en coordinación con organismos nacionales, “ahora en Palpalá, pero con el objetivo de extenderlo a distintos puntos de Jujuy. Agradecemos a Nación por haber elegido a nuestra provincia para este lanzamiento”, refirió.



Por último el Intendente Pablo Palomares, expresó su satisfacción por la tarea cumplida, en una semana de mucho trabajo, “con turnos agotados, estamos muy contentos por la participación del vecino”, remarcó.
						</p>
