<!-- Menu local para smartphones solamente. -->
<nav class="grey ligthen-4 hide-on-med-and-up center">
  	<div class="nav-wrapper">
  		<ul>
  			<li>
  				<a href="#/{{uriname}}/proyectos">
  					<i class="material-icons">
  						library_books
  					</i>
  				</a>
  			</li>
  			<li>
  				<a href="#/{{uriname}}/noticias">
  					<i class="material-icons">
  						info_outline
  					</i>
  				</a>
  			</li>
  			<li ng-show="fkr">
  				<a href="#/{{uriname}}/fotografias">
  					<i class="material-icons">
  						photo_library
  					</i>
  				</a>
  			</li>
  			<li ng-show="yt">
  				<a href="#/{{uriname}}/videos">
  					<i class="material-icons">
  						video_library
  					</i>
  				</a>
  			</li>
  		</ul>
  	</div>
</nav>

<!-- Menu local para tablets y laptops -->
<nav class="grey ligthen-4 hide-on-small-only">
  	<div class="nav-wrapper">
  		<ul class="right">
  			<li>
  				<a href="#/{{uriname}}/proyectos">
  					<i class="material-icons left">
  						library_books
  					</i>
  					Proyectos
  				</a>
  			</li>
  			<li>
  				<a href="#/{{uriname}}/noticias">
  					<i class="material-icons left">
  						info_outline
  					</i>
  					Noticias
  				</a>
  			</li>
  			<li ng-show="fkr">
  				<a href="#/{{uriname}}/fotografias">
  					<i class="material-icons left">
  						photo_library
  					</i>
  					Fotografias
  				</a>
  			</li>
  			<li ng-show="yt">
  				<a href="#/{{uriname}}/videos">
  					<i class="material-icons left">
  						video_library
  					</i>
  					Videos
  				</a>
  			</li>
  		</ul>
  	</div>
</nav>