<section> <!-- Mapa del sitio-->
    <div class="row-fluid clearfix mapaSitio">
        <div class="container-fluid" style="margin: 10px;">
            <div class="col-sm-3"> <!-- Columna 1 -->
                <ul class="list-unstyled">
                    <li><p class="tituloMapa">Institucional</p></li>
                    <ul>
                        <li><a href="#/autoridades" class="textoMapa">Autoridades</a></li>
                        <li><a href="#/diputados" class="textoMapa">Diputados</a></li>
                    </ul>
                    <li><p class="tituloMapa">Labor Legislativa</p></li>
                    <ul>
                        <li><a href="#/orden-del-dia" class="textoMapa">Orden del D&iacute;a</a></li>
                        <li><a href="#/proyectos" class="textoMapa">Busqueda de Proyectos</a></li>
                        <li><a href="#/boletin-legislativo" class="textoMapa">Bolet&iacute;n Legislativo</a></li>
                        <li><a href="#/versiones-taquigraficas" class="textoMapa">Versiones Taquigr&aacute;ficas</a></li>
                        <li><a href="#/audiencias-publicas" class="textoMapa">Audiencias P&uacute;biclas</a></li>
                        <li><a href="#/parlamento-juvenil" class="textoMapa">Parlamento Juvenil</a></li>
                        <li><a href="#/acceso-a-leyes" class="textoMapa">Acceso a Leyes</a></li>
                    </ul>
                    <li><p class="tituloMapa">Normativa</p></li>
                    <ul>
                        <li><a href="/imgcdn/docs/constitucion_nacional.pdf" target="_blank" class="textoMapa">Constituci&oacute;n Nacional</a></li>
                        <li><a href="/imgcdn/docs/constitucion_provincial.pdf" target="_blank" class="textoMapa">Constituci&oacute;n De la Provincia</a></li>
                        <li><a href="/imgcdn/docs/reglamento_de_la_legislatura_2016.pdf" target="_blank" class="textoMapa">Reglamento de la Legislatura</a></li>
                        <li><a href="/imgcdn/docs/reglamento_interno_parlamento_noa.pdf" target="_blank" class="textoMapa">Reglamento del Parlamento del NOA</a></li>
                    </ul>
                </ul>
            </div>
            <div class="col-sm-3"> <!-- Columna 2 -->
                <ul class="list-unstyled">
                    <li><p class="tituloMapa">Comisiones</p></li>
                    <ul>
                        <ng-controller ng-controller="mainMenuController">
                            <ng-repeat ng-repeat="c in comisiones">
                                <li><a href="#/comision/{{c.uriname}}" class="textoMapa">{{c.nombre}}</a></li>
                            </ng-repeat>
                        </ng-controller>
                    </ul>
                </ul>
            </div>
            <div class="col-sm-3"> <!-- Columna 3 -->
                <ul class="list-unstyled">
                    <li><p class="tituloMapa">Bloques</p></li>
                    <ul>
                        <ng-controller ng-controller="mainMenuController">
                            <ng-repeat ng-repeat="b in bloques">
                                <li><a class="textoMapa" href="#/bloque/{{b.uriname}}">{{b.nombre}}</a></li>
                            </ng-repeat>
                        </ng-controller>
                    </ul>
                    <li><p class="tituloMapa" href="#">Prensa</p></li>
                    <ul>
                        <li><a href="#/prensa/noticias" class="textoMapa">Noticias de la Legislatura</a></li>
                        <li><a href="#/prensa/fotografia/1" class="textoMapa">Archivo de Fotografias</a></li>
                    </ul>
                    <li><p class="tituloMapa" href="#">Transparencia</p></li>
                    <ul>
                        <li><a href="#/resoluciones-y-concursos" class="textoMapa">Resoluciones Concursos Secretaria Administrativa</a></li>
                        <li><a href="#/direccion-de-administracion" class="textoMapa">Direcci&oacute;n de Administraci&oacute;n</a></li>
                        <li><a href="#/inscripcion-para-proveedores" class="textoMapa">Inscripci&oacute;n para Proveedores</a></li>
                        <li><a href="#/nomina-del-personal" class="textoMapa">N&oacute;mina del Personal de la Legislatura</a></li>
                        <li><a href="#/listado-de-teslefonos-internos" class="textoMapa">Listado de Tel&eacute;fonos internos</a></li>
                    </ul>
                </ul>
            </div>				

            <div class="col-sm-3" ng-controller="homeController"> <!-- Columna 4 -->
                <ul class="list-unstyled">
                    </ul>
                </ul>

                <!-- Boton donde estamos -->
                <p class="tituloSeccion" style="color: #fff;">Donde estamos</p>
                <div class="img-responsive zoom" style="float: left;">
                    <img src="images/mapa.jpg" alt="">
                </div>
                <div style="position: absolute; margin:20px;">
                    <button ng-click="abrirMapa()" type="button" class="btn btn-success btn-lg" >Abrir Mapa <span class="glyphicon glyphicon-map-marker"/></button>
                </div>
                <!-- Ventana emergente mapa-->
                <ng-include src="'views/mapasitio/widgets/google.maps.legislatura.html'"></ng-include>


            </div>
        </div>
    </div>
</section> <!-- Cierre Mapa del sitio-->