<section> <!-- Mapa del sitio-->
    <div class="row-fluid clearfix mapaSitio">
        <div class="container-fluid" style="margin: 10px;">
            <div class="col-sm-3"> <!-- Columna 1 -->
                <ul class="list-unstyled">
                    <li><p class="tituloMapa">Institucional</p></li>
                    <ul>
                        <li><a href="#/autoridades" class="textoMapa">Autoridades</a></li>
                        <li><a href="#/diputados" class="textoMapa">Diputados</a></li>
                    </ul>
                    <li><p class="tituloMapa">Labor Legislativa</p></li>
                    <ul>
                        <li><a href="#/orden-del-dia" class="textoMapa">Orden del D&iacute;a</a></li>
                        <li><a href="#/proyectos" class="textoMapa">Burqueda de Proyectos</a></li>
                        <li><a href="#/boletin-legislativo" class="textoMapa">Bolet&iacute;n Legislativo</a></li>
                        <li><a href="#/versiones-taquigraficas" class="textoMapa">Versiones Taquigr&aacute;ficas</a></li>
                        <li><a href="#/audiencias-publicas" class="textoMapa">Audiencias P&uacute;biclas</a></li>
                        <li><a href="#/parlamento-juvenil" class="textoMapa">Parlamento Juvenil</a></li>
                        <li><a href="#/acceso-a-leyes" class="textoMapa">Acceso a Leyes</a></li>
                    </ul>
                    <li><p class="tituloMapa">Normativa</p></li>
                    <ul>
                        <li><a href="/imgcdn/docs/constitucion_nacional.pdf" target="_blank" class="textoMapa">Constituci&oacute;n Nacional</a></li>
                        <li><a href="/imgcdn/docs/constitucion_provincial.pdf" target="_blank" class="textoMapa">Constituci&oacute;n De la Provincia</a></li>
                        <li><a href="/imgcdn/docs/reglamento_de_la_legislatura_2016.pdf" target="_blank" class="textoMapa">Reglamento de la Legislatura</a></li>
                        <li><a href="/imgcdn/docs/reglamento_interno_parlamento_noa.pdf" target="_blank" class="textoMapa">Reglamento del Parlamento del NOA</a></li>
                    </ul>
                </ul>
            </div>
            <div class="col-sm-3"> <!-- Columna 2 -->
                <ul class="list-unstyled">
                    <li><p class="tituloMapa">Comisiones</p></li>
                    <ul>
                        <ng-controller ng-controller="mainMenuController">
                            <ng-repeat ng-repeat="c in comisiones">
                                <li><a href="#/comision/{{c.uriname}}" class="textoMapa">{{c.nombre}}</a></li>
                            </ng-repeat>
                        </ng-controller>
                    </ul>
                </ul>
            </div>
            <div class="col-sm-3"> <!-- Columna 3 -->
                <ul class="list-unstyled">
                    <li><p class="tituloMapa">Bloques</p></li>
                        <ng-controller ng-controller="mainMenuController">
                            <ng-repeat ng-repeat="b in bloques">
                                <li><a class="textoMapa" href="#/bloque/{{b.uriname}}">{{b.nombre}}</a></li>
                            </ng-repeat>
                        </ng-controller>
                    <li><p class="tituloMapa" href="#">Prensa</p></li>
                    <ul>
                        <li><a href="#" class="textoMapa">Noticias de la Legislatura</a></li>
                        <li><a href="#" class="textoMapa">Archivo de Fotografias</a></li>
                    </ul>
                    <li><p class="tituloMapa" href="#">Transparencia</p></li>
                    <ul>
                        <li><a href="#" class="textoMapa">Resoluciones Concursos Secretaria Administrativa</a></li>
                        <li><a href="#" class="textoMapa">Direcci&oacute;n de Administraci&oacute;n</a></li>
                        <li><a href="proveedores.html" class="textoMapa">Inscripci&oacute;n para Proveedores</a></li>
                        <li><a href="personal.html" class="textoMapa">N&oacute;mina del Personal de la Legislatura</a></li>
                        <li><a href="#" class="textoMapa">Listado de Tel&eacute;fonos internos</a></li>
                    </ul>
                </ul>
            </div>				

            <div class="col-sm-3"> <!-- Columna 4 -->
                <ul class="list-unstyled">
                    </ul>
                </ul>

                <!-- Boton donde estamos -->
                <p class="tituloSeccion" style="color: #fff;">Donde estamos</p>
                <div class="img-responsive zoom" style="float: left;">
                    <img src="images/mapa.jpg" alt="">
                </div>
                <div style="position: absolute; margin:20px;">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#mapa">Abrir Mapa <span class="glyphicon glyphicon-map-marker"/></button>
                </div>
                <!-- Ventana emergente mapa-->
                <div id="mapa" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Donde estamos</h4>
                                </div>
                                <div class="container modal-body">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.551886582221!2d-65.30043138187949!3d-24.187443621063057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x941b0f44ba8981d1%3A0xb6b2365e42893975!2sCan%C3%B3nigo+Gorriti+47%2C+4600+San+Salvador+de+Jujuy%2C+Jujuy!5e0!3m2!1ses!2sar!4v1474455234052" width="550" height="400" frameborder="0" style="border:0;" allowfullscreen></iframe>
                                </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section> <!-- Cierre Mapa del sitio-->