<!-- Media bar -->
<section>
    <article>
        <div
            class="row-fluid cajaBotonesGrandes">
            
            <div
                style="margin:55px 100px; position:absolute;">
            </div>

            <ng-controller ng-controller="homeController">    
                <div class="container-fluid col-xs-4 text-center">
                    <a ng-click="presidenciaOpen()">
                        <button class="btnPresidencia"></button>
                    </a>
                    <h4>
                        Presidencia
                    </h4>	
                </div>
            </ng-controller>
            
            <ng-controller ng-controller="homeController">
                <div class="container col-xs-4 text-center">
                    <a ng-click="laborLegislativaOpen()">
                        <button class="btnLegislatura"></button>
                    </a>
                    <h4>
                        Labor Legislativa
                    </h4>
                </div>
            </ng-controller>

            <ng-controller ng-controller="homeController">
                <div class="container col-xs-4 text-center">
                    <a ng-click="sessionEnVivoOpen()">
                        <button class="btnSesion"></button>
                    </a>
                    <h4>
                        Sesi&oacute;n en vivo
                    </h4>
                </div>
            </ng-controller>
        </div>
    </article>
</section>
<!-- /Media bar -->