<!-- Media bar -->
<section
    id="mediaBar"
    ng-controller="mediaBarController">
    <article>
        <div
            class="row-fluid cajaBotonesGrandes">
            
            <div
                style="margin:55px 100px; position:absolute;">
            </div>
                
            <div
                class="container-fluid col-xs-4 text-center">
                <a
                    href="#/presidencia">
                    <button class="btnPresidencia"></button>
                </a>
                <h4>
                    Presidencia
                </h4>	
            </div>

            <div
                class="container col-xs-4 text-center">
                <a
                    href="#/legislatura">
                    <button class="btnLegislatura"></button>
                </a>
                <h4>
                    Legislatura
                </h4>
            </div>

            <div
                class="container col-xs-4 text-center">
                <a
                    href="#/session_en_vivo">
                    <button class="btnSesion"></button>
                </a>
                <h4>
                    Sesi&oacute;n en vivo
                </h4>
            </div>
        </div>
    </article>
</section>
<!-- /Media bar -->