<section class="" ng-controller="mediaBarController"> <!-- Botones grandes -->
    <article>
        <div class="row-fluid fecha">
                <span>{{fecha}}</span>
            
        </div>
        <div class="row-fluid cajaBotonesGrandes">
            <div style="margin:55px 100px; position:absolute;">
            </div>

            <div class="container-fluid col-xs-4 text-center">
                <a href="#presidencia"><button class="btnPresidencia"></button></a>
                    <h4>Presidencia</h4>	
            </div>
            <div class="container col-xs-4 text-center">
                <button class="btnLegislatura"></button>
                <h4>Legislatura</h4>
            </div>
            <div class="container col-xs-4 text-center">
                <button class="btnSesion"></button>
                <h4>Sesi&oacute;n en vivo</h4>
            </div>
        </div>
    </article>
</section> <!-- Cierre botones grandes -->