<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="tituloSeccion text-capitalize text-nowrap">
            n&oacute;mina del personal
        </h3>
    </div>
    <div class="panel-body">
    <!-- Panel Body -->






                        <div class="btn-group espacioSuperior">
							<a href="#personalPresidencia"><button class="btn-xs">Presidencia</button></a>
							<a href="#personalPrensa"><button class="btn-xs">Prensa</button></a>
							<a href="#personalUTOL"><button class="btn-xs">UTOL</button></a>
							<a href="#personalAsuntosJuridicos"><button class="btn-xs">Asuntos Juridicos</button></a>
							<a href="#personalServicioMedico"><button class="btn-xs">Servicio M&eacute;dico</button></a>
							<a href="#personalCeremonial"><button class="btn-xs">Ceremonial y Protocolo</button></a>
						</div>
						<div class="container col-xs-12 col-sm-12" id="personalPresidencia">
							<br>
							<div class="container col-xs-12">
							<legend>
								<p class="titulo">Presidencia</p>
							</legend>
							</div>
								<table class="table table-hover table-striped" id="datos">
									<thead>
								      <tr>
										<th>Apellido</th>
										<th>Nombres</th>
										<th>Sit.</th>
										<th>Funci&oacute;n</th>
										</tr>
									</thead>
								    <tbody>
								    	<tr class="info">
									    	<td>HAQUIM</td>
									    	<td>CARLOS GUILLERMO</td>
									    	<td>Funcionario</td>
									    	<td>Presidente</td>
									    </tr>
								    	<tr>
								    		<td>MORERO</td>
								    		<td>NELSO PEDRO</td>
								    		<td>Planta Permanente</td>
								    		<td>Comisario de Cámara</td>
								    	</tr>
								    	<tr>
								    		<td>PACHECO</td>
								    		<td>SONIA CRISTINA</td>
								    		<td>Planta Permanente</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>DONAIRES</td>
								    		<td>MARTIN GUILLERMO</td>
								    		<td>Planta Permanente</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>NUÑEZ</td>
								    		<td>PATRICIA SUSANA</td>
								    		<td>Planta Permanente</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>PACHECO</td>
								    		<td>PAULA AGUSTINA</td>
								    		<td>Gabinete</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>PEREZ</td>
								    		<td>MARINA BERTA</td>
								    		<td>Planta Permanente</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>VARGAS ARCE</td>
								    		<td>MIRTHA LUCILA</td>
								    		<td>Gabinete</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>PORTAL</td>
								    		<td>DARIO</td>
								    		<td>Planta Permanente</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>VELAZQUEZ</td>
								    		<td>YOLANDA MARGARITA</td>
								    		<td>Planta Permanente</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>ABRAHAM</td>
								    		<td>RUBEN ORLANDO</td>
								    		<td>Gabinete</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>BERNAL GARCIA</td>
								    		<td>SERGIO JAVIER</td>
								    		<td>Gabinete</td>
								    		<td>Chofer</td>
								    	</tr>
								    	<tr>
								    		<td>CHAÑI</td>
								    		<td>MARIA FATIMA</td>
								    		<td>Gabinete</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>SOLIS</td>
								    		<td>JOAQUIN ROQUE</td>
								    		<td>Gabinete</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr>
								    		<td>SOSA GALIAN</td>
								    		<td>FABIANA ESTER</td>
								    		<td>Gabinete</td>
								    		<td>Administrativo</td>
								    	</tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    	<tr></tr>
								    </tbody>
								</table>
							<a href="#personalInicio"><button class="btn-xs btn-primary pull-right">Inicio</button></a>
						</div>
						<div class="container col-xs-12 col-sm-12" id="personalPrensa">						
							<br>
							<div class="container col-xs-6">
								<legend>
									<p class="titulo">Dirección de Prensa y Difusión</p>
								</legend>
							</div>
							<table class="table table-hover table-striped">
								<thead>
							      <tr>
									<th>Apellido</th>
									<th>Nombres</th>
									<th>Sit.</th>
									<th>Funci&oacute;n</th>
									</tr>
								</thead>
							    <tbody>
							    	<tr class="success">
							    		<td>CALVETTI</td>
							    		<td>JORGE DELFIN</td>
							    		<td>Planta Permanente</td>
							    		<td>Director Prensa</td>
							    	</tr>
							    	<tr>
							    		<td>MEALLA</td>
							    		<td>ZULMA LAURA</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>LOPEZ</td>
							    		<td>LUIS</td>
							    		<td>Planta Permanente</td>
							    		<td>Fotógrafo</td>
							    	</tr>
							    	<tr>
							    		<td>STEGAGNINI</td>
							    		<td>SONIA MABEL</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>COLMENARES</td>
							    		<td>RENE EDGAR</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>FERRARO</td>
							    		<td>GABRIELA ALEJANDRA</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>TOCONAS</td>
							    		<td>BLANCA AZUCENA</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>ABALOS</td>
							    		<td>JOSE LUIS</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>CHAVARRIA</td>
							    		<td>PABLO RICARDO</td>
							    		<td>Gabinete</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>CAIGUARA</td>
							    		<td>CRISTIAN JAIME</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>FERNANDEZ</td>
							    		<td>GABRIEL ESTEBAN</td>
							    		<td>Gabinete</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>TAGLIOLI</td>
							    		<td>MAXIMILIANO FABIAN</td>
							    		<td>Gabinete</td>
							    		<td>Administrativo</td>
							    	</tr>
							    </tbody>
							</table>
							<a href="#personalInicio"><button class="btn-xs btn-primary pull-right">Inicio</button></a>
						</div>
						<div class="container col-xs-12 col-sm-12" id="personalUTOL">						
							<br>
							<legend>
								<p class="titulo">Dirección U.T.O.L.</p>
							</legend>
							<table class="table table-hover table-striped">
								<thead>
							      <tr>
									<th>Apellido</th>
									<th>Nombres</th>
									<th>Sit.</th>
									<th>Funci&oacute;n</th>
									</tr>
								</thead>
							    <tbody>
							    	<tr class="success">
							    		<td>DIP</td>
							    		<td>ELIAS DOMINGO MARTIN</td>
							    		<td>Planta Permanente</td>
							    		<td>Director U.T.O.L.</td>
							    	</tr>
							    	<tr>
							    		<td>MANERO</td>
							    		<td>ELSA MARCELA</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    </tbody>
							</table>
							<a href="#personalInicio"><button class="btn-xs btn-primary pull-right">Inicio</button></a>
						</div>
						<div class="container col-xs-12 col-sm-12" id="personalAsuntosJuridicos">						
							<br>
							<legend>
								<p class="titulo">Departamento Asuntos Jurídicos</p>
							</legend>
							<table class="table table-hover table-striped">
								<thead>
							      <tr>
									<th>Apellido</th>
									<th>Nombres</th>
									<th>Sit.</th>
									<th>Funci&oacute;n</th>
									</tr>
								</thead>
							    <tbody>
							    	<tr class="success">
							    		<td>TORREJON</td>
							    		<td>HUMBERTO RAUL</td>
							    		<td>Planta Permanente</td>
							    		<td>Jefe Dpto. Asuntos Jurídicos</td>
							    	</tr>
							    	<tr>
							    		<td>BARRIGA</td>
							    		<td>JORGE HUGO</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>VARELA</td>
							    		<td>MARIA EUGENIA</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    </tbody>
							</table>
							<a href="#personalInicio"><button class="btn-xs btn-primary pull-right">Inicio</button></a>
						</div>
						<div class="container col-xs-12 col-sm-12" id="personalServicioMedico">						
							<br>
							<legend>
								<p class="titulo">Departamento Servicio Médico</p>
							</legend>
							<table class="table table-hover table-striped">
								<thead>
							      <tr>
									<th>Apellido</th>
									<th>Nombres</th>
									<th>Sit.</th>
									<th>Funci&oacute;n</th>
									</tr>
								</thead>
							    <tbody>
							    	<tr class="success">
							    		<td>MEROI DEL FRARI</td>
							    		<td>JULIO CESAR</td>
							    		<td>Planta Permanente</td>
							    		<td>Jefe Dpto. Servicio Médico</td>
							    	</tr>
							    	<tr>
							    		<td>CUELLAR PAREJA</td>
							    		<td>GRACIELA EUGENIA</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>MEDRANO</td>
							    		<td>MARIA BELEN</td>
							    		<td>Gabinete</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>RODRIGUEZ</td>
							    		<td>CAROLINA BEATRIZ</td>
							    		<td>Gabinete</td>
							    		<td>Enfermero</td>
							    	</tr>
							    	<tr>
							    		<td>VILLAGRA</td>
							    		<td>JOSE DANIEL</td>
							    		<td>Gabinete</td>
							    		<td>Enfermero</td>
							    	</tr>
							    </tbody>
							</table>
							<a href="#personalInicio"><button class="btn-xs btn-primary pull-right">Inicio</button></a>
						</div>
						<div class="container col-xs-12 col-sm-12" id="personalCeremonial">						
							<br>
							<legend>
								<p class="titulo">División Ceremonial y Protocolo</p>
							</legend>
							<table class="table table-hover table-striped">
								<thead>
							      <tr>
									<th>Apellido</th>
									<th>Nombres</th>
									<th>Sit.</th>
									<th>Funci&oacute;n</th>
									</tr>
								</thead>
							    <tbody>
							    	<tr class="success">
							    		<td>AZUA</td>
							    		<td>ANA MARIA NOEMI</td>
							    		<td>Planta Permanente</td>
							    		<td>Jefe Div. Ceremonial</td>
							    	</tr>
							    	<tr>
							    		<td>LOBO</td>
							    		<td>LILIANA DEL VALLE</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>SALINAS</td>
							    		<td>LUIS FRANCISCO</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
							    	<tr>
							    		<td>BACA</td>
							    		<td>EUDOSIA DEL CARMEN</td>
							    		<td>Planta Permanente</td>
							    		<td>Administrativo</td>
							    	</tr>
   							    </tbody>
							</table>
							<a href="#personalInicio"><button class="btn-xs btn-primary pull-right">Inicio</button></a>
						</div>
						<div class="container col-xs-12 col-sm-12" id="personal">						
							<br>
							<legend>
								<p class="titulo"></p>
							</legend>
							<table class="table table-hover table-striped">
								<thead>
							      <tr>
									<th>Apellido</th>
									<th>Nombres</th>
									<th>Sit.</th>
									<th>Funci&oacute;n</th>
									</tr>
								</thead>
							    <tbody>

   							    </tbody>
							</table>
							<a href="#personalInicio"><button class="btn-xs btn-primary pull-right">Inicio</button></a>
						</div>







    <!-- /Panel Body -->
    </div>
</div>