<div class="row">

	<!-- Menu Local -->
	<div ng-include src="'views/localmenu.html'"></div>
	<!-- /Menu Local -->

	<!-- Paginador -->
		<!-- Paginador para smartphones -->
		<nav class="grey lighten-2 hide-on-med-and-up">
			<div class="nav-wrapper">
				<ul class="left">
				    <li class="waves-effect">
				    	<a ng-click="getPartes(primero)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			skip_previous
				    		</i>
				    	</a>
				    </li>
				    <li class="waves-effect">
				    	<a ng-click="getPartes(anterior)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			fast_rewind
				    		</i>
				    	</a>
				    </li>
				    <li class="waves-effect">
				    	<a class="grey-text text-darken-2">
				    		{{actual}}/{{ultimo}}
				    	</a>
				    </li>
				    <li class="waves-effect">
				    	<a ng-click="getPartes(siguiente)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			fast_forward
				    		</i>
				    	</a>
				    </li>
				    <li class="waves-effect">
				    	<a ng-click="getPartes(ultimo)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			skip_next
				    		</i>
				    	</a>
				    </li>				
				</ul>
			</div>
		</nav>
		<!-- Paginador para tablets y laptops -->
		<nav class="grey lighten-2 hide-on-small-only">
			<div class="nav-wrapper">
				<ul class="left">
				    <li class="waves-effect">
				    	<a class="grey-text text-darken-2">
				    		Visualizando {{actual}}  de {{ultimo}}:
				    	</a>
				    </li>
				    <li class="waves-effect">
				    	<a ng-click="getPartes(primero)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			skip_previous
				    		</i>
				    	</a>
				    </li>
				    <li class="waves-effect">
				    	<a ng-click="getPartes(anterior)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			fast_rewind
				    		</i>
				    	</a>
				    </li>
				    
				    <li class="waves-effect">
				    	<a ng-click="getPartes(siguiente)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			fast_forward
				    		</i>
				    	</a>
				    </li>
				    <li class="waves-effect">
				    	<a ng-click="getPartes(ultimo)" class="grey-text text-darken-2">
				    		<i class="material-icons">
				    			skip_next
				    		</i>
				    	</a>
				    </li>				
				</ul>
			</div>
		</nav>
	<!-- /Paginador -->

	<!-- Noticia -->
	<div class="col s12 m12 l6" ng-repeat="n in noticias">

		<div class="card white darken-2 hoverable">
			
			<div class="card-action grey lighten-2 grey-text text-darken-1 right-align">
				<span style="font-size:0.7em;font-weight:bolder;font-style:italic;">{{n.volanta}}</span>
				<br/>
				<span style="font-size:1.2em;font-weight:bolder;text-transform:uppercase;">{{n.titulo}}</span>
				<br/>
				<span style="font-size:0.9em;font-weight:bolder;font-style:italic;">{{n.bajada}}</span>
				<br/>
				<span style="font-size:0.6em;">[ {{n.redactado}} ]</span>
			</div>

			<span ng-if="n.fotografias">
				<div class="slider" slider Indicators="false">
					<ul class="slides">
						<li ng-repeat="f in n.fotografias">
							<img src="/img/fotografias/{{f.fotografia}}"/>
						</li>
					</ul>
				</div>
			</span>

			<div class="card-action black-text">
				{{n.cabeza}}
			</div>

			<div id="toggle-{{n.uriname}}" class="card-action black-text" style="display:none;">
				{{n.cuerpo}}
			</div>

			<div class="card-action blue-text text-darken-2 valign-wrapper" style="cursor:pointer;">

				<a class="blue-text text-darken-2 valign activator" ng-click="toggle('toggle-'+n.uriname)">
					<i class="material-icons valign">
						send
					</i>
				</a>

			</div>

		</div>
	</div>
	<!-- /Noticia -->

</div>