<div class="panel panel-default"> 
    <div class="panel-heading">
        <h3 class="tituloSeccion text-capitalize text-nowrap">
            orden del d&iacute;a
        </h3>
    </div>
    <div class="panel-body">

        <!-- Mensaje del orden del dia. -->
            <!--
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 lineaVertical">

                <img class="img-responsive" src="images/orden.jpg" alt="">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Menú
                        </h3>
                    </div>
                    <div class="pane-body">

                        <!-- Menu
                        <ul class="nav nav-pills nav-stacked">
                            <ng-click ng-click="showOrdinarias()"><li><a class="btn btn-link">Ordinarias</a></li></ng-click>
                            <ng-click ng-click="showExtraordinarias()"><li><a class="btn btn-link">Extraordinarias</a></li></ng-click>
                            <ng-click ng-click="showEspeciales()"><li><a class="btn btn-link">Especiales</a></li></ng-click>
                            <ng-click ng-click="showPreparatorias()"><li><a class="btn btn-link">Preparatorias</a></li></ng-click>
                            <ng-click ng-click="showParlamentoJuvenil()"><li><a class="btn btn-link">Parlamento Juvenil</a></li></ng-click>
                            <ng-click ng-click="showTodas()"><li><a class="btn btn-link">Ver Todos Los Ordenes</a></li></ng-click>
                        </ul>

                    </div>
                </div>
            </div>
            -->


            <!-- <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"> -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                 <ul class="nav nav-tabs">
                    <li><a class="btn btn-primary btn-xs" ng-click="showOrdinarias()">Ordinarias</a></li>
                    <li><a class="btn btn-primary btn-xs" ng-click="showExtraordinarias()">Extraordinarias</a></li>
                    <li><a class="btn btn-primary btn-xs" ng-click="showEspeciales()">Especiales</a></li>
                    <li><a class="btn btn-primary btn-xs" ng-click="showPreparatorias()">Preparatorias</a></li>
                    <li><a class="btn btn-primary btn-xs" ng-click="showParlamentoJuvenil()">Juvenil</a></li>
                    <li><a class="btn btn-primary btn-xs" ng-click="showTodas()">Todos</a></li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-capitalize text-nowrap">
                            Orden del Día / {{titulo}} 
                        </h3>
                    </div>
                    <div class="pane-body">
                        <table id="insertHtmlOrdinaria" class="table  table-striped table-hover table-bordered table-responsive">
                            <tr>
                                <td>NOMBRE</td>
                                <td>FECHA</td>
                                <td>ACCIONES</td>
                            </tr>
                            <tr ng-repeat="o in inshow">
                                <td>
                                    <strong class="text-uppercase">
                                        {{o.numero}} SESION	{{o.tipo}}		
                                    </strong>
                                </td>
                                <td>
                                    {{o.fecha}}
                                </td>
                                <td>
                                    <a href="/img/sesiones/{{o.file}}.html" target="__blank" class="btn btn-info">
                                        Visualizar
                                    </a>
                                    <a ng-click="imprimir(o.file_print)" class="btn btn-primary">
                                        Imprimir
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

    </div>
</div>