<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="tituloSeccion text-capitalize text-nowrap">
            Fotograf&iacute;as de la Legislatura
        </h3>
    </div>
    <div class="panel-body container-fluid">


	    <!--- FOTOGRAFIAS -->
	    <div class="jumbotron fFondo">

		<h4 class="fFrente fFondo2">
		    {{fotografia.fotografia.titulo}}
		</h4>

		<img src="/imgcdn/fotografias/{{fotografia.fotografia.archivo}}" width="100%" border="0"/>

		<strong class="fFrente">
		    {{fotografia.fotografia.fecha}}
		</strong>

		<div id="fDescripcion" class="fFrente fFondo2">
		    <ng-bind-html ng-bind-html="fotografia.fotografia.descripcion"></ng-bind-html>
		</div>


		<!-- Paginator -->
		<nav>
		    <ul class="pager">

			<!-- Pagina Primera -->
			<li class="previous">
			    <a href="#/prensa/fotografia/1" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-fast-backward"></i></a>
			</li>

			<!-- Pagina anterior -->
			<li>
			    <a href="#/prensa/fotografia/{{anterior}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-backward"></i></a>
			</li>

			<!-- Pagina Ubicacion -->
			<li>
			    <span  class="btn btn-default btn-sm">Fotograf&iacute;a {{fotografia.paginador.pagina}}/{{fotografia.paginador.paginas}}</span>
			</li>

			<!-- Pagia siguiente -->
			<li>
			    <a href="#/prensa/fotografia/{{siguiente}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-forward"></i></a>
			</li>

			<!-- Pagina Ultima -->
			<li class="next">
			    <a href="#/prensa/fotografia/{{fotografia.paginador.paginas}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-fast-forward"></i></a>
			</li>
		    </ul>
		</nav>
		<!-- /Paginator -->

	    </div>
	    <!--- /FOTOGRAFIAS -->
					



    </div>
</div>