/* HOME */
.fondoPagina { 			
	background: url("../images/fondo.jpg") 50% 0 fixed; 
	background-repeat: repeat;
}
.marcoPagina{
	background-color: rgba(255,255,255,0.25);
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
hr { 
   border: 2px solid #eeeeee; 
   border-radius: 200px ; 
   height: 0px; 
   text-align: center; 
 }
/* CABEZAL*/
.cabezal {
	height: 220px;
}

.fondoLogo{
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.17) 35%, rgba(255,255,255,0.75) 70%, rgba(255,255,255,0.8) 93%, rgba(255,255,255,0.8) 95%, rgba(17,53,89,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.17) 35%,rgba(255,255,255,0.75) 70%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0.8) 95%,rgba(17,53,89,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.17) 35%,rgba(255,255,255,0.75) 70%,rgba(255,255,255,0.8) 93%,rgba(255,255,255,0.8) 95%,rgba(17,53,89,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc113559',GradientType=0 ); /* IE6-9 */
	border-radius: 10px 10px 0 0;
	border: 1px;	
	text-align: center;
	width: 250px;
	height: 220px;
	/*box-shadow: 0 0 5px rgba(0,0,0,0.5);*/
}
.fecha{
	background-color: rgba(51,122,183,0.9);
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	color:#eee;
	text-align: right;
	width: 100%;
	height: 100px;
	padding:0px 100px 20px 0px;
}
.logo{
	margin:30px auto;
}
.btnSILeJu{
	margin:150px 0;
	position: absolute;
}
.btnWebMail{
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	background-color: #29ABE2;
	width: 150px;
	height: 35px;
	position:absolute;
	color:#fff;
	text-align: center;
	padding: 7px;
	border-radius: 20px;
	box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
.btnWebMail:hover{
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	background-color: #BD4E3A;
	width: 150px;
	height: 35px;
	position:absolute;
	color:#fff;
	text-align: center;
	padding: 7px;
	border-radius: 20px;
	transition: all 500ms ease;
}

/* MENU */

.navbar{
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* TEXTOS */
.tituloSeccion{
	color:#337ab7;
	/*color:#29ABE2;*/
	font-family: 'Fjalla One', sans-serif;
	font-size: 28px;
	margin-top:15px;
	margin-left:15px;
}
.titulo{
	font-family: 'Fjalla One', sans-serif;
	color:#BD4E3A;
	font-size: 20px;
	margin-top:10px;
}
.texto{
	font-family: 'Hind', sans-serif;
	font-size: 14px;
}
.textoBoletin{
	font-family: Arial;
	font-size:16px;
}
.tituloMapa{
	background-color: #808080;
	color:#fff;
	font-family: 'Hind', sans-serif;
	font-size: 14px;
	padding: 2px 0px 2px 25px;
}
.textoMapa{
	font-family: 'Hind', sans-serif;
	font-size: 12px;
	color:#fff;
}

/* SECCIONES */
.actividadDia{
	background-color: #29ABE2;
	border-radius: 5px;
	color:#fff;
	height: 350px;
	overflow: hidden;
	padding:15px;
}
#links{
	background-color: #808080;
	height: 100px;
}
.marcosPaz{
	background: linear-gradient( 180deg, #337ab7, rgba(255,255,255,0));
	/*background-color: #337ab7;*/
	height: auto;
	overflow: hidden;
	padding:15px;
}
.botonesLaterales{
	background: linear-gradient( 180deg, #337ab7, rgba(255,255,255,0));
	/*background-color: #337ab7;*/
	color:#fff;
	height: auto;
	overflow: hidden;
	padding:15px;
}
.boletinOficial{
	background-color: #FFFFFF;
	border-radius: 5px;
	border:2px solid #eee;
	height: 350px;
	overflow: hidden;
	padding:15px;
}
.noticiaImportante{
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #eee;
	float:left;
	height: 400px;
	overflow: hidden;
}

.noticiaChica{
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #eee;
	height: 185px;
	overflow: hidden;
	padding: 7px;
}
.noticiasChicas{
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #eee;
	float:left;
	height: 400px;
	margin:10px 2px 10px 2px;
	overflow: hidden;
	padding:7px;
}
.noticiasDiputados{
	background-color: #BD4E3A;
	height: auto;
	overflow: hidden;
}
.destacados{
	background-color: #808080;
	height: auto;
	overflow: hidden;
}
.mapaSitio{
	background-color: #337ab7;
	height: auto;
}
.izquierda{
	float:left;
}
.piePagina{
	background-color: #808080;
	color:#fff;
	font-size: 14px;
	height:auto;
	margin:0px 0;
	padding: 10px;
	text-align:center;
}

/* BOTONES */
.cajaBotonesGrandes{
background: -moz-linear-gradient(top,  rgba(51,122,183,0.9) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(51,122,183,0.9) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(51,122,183,0.9) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	height: 290px;
	margin: auto 0px;
	width: 100%;
}
.btnPresidencia{
	background-image: url("../images/haquim.jpeg");
	background-position: center;
	background-size: 100%;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 200px;
	margin: 15px 0px;
	opacity: 30%;
	padding: 10;
	width: 200px;
}
.btnPresidencia:hover{
	background-image: url("../images/haquim.jpeg");
	background-position: center;
	background-size: 110%;
	border-radius: 50%;
	border: 3px solid #eee;
	box-shadow: 8px -8px 15px rgba(0,0,0,0.15);
	height: 230px;
	margin: 0px 0px;
	opacity: 100%;
	padding: 10;
	transition: all 500ms ease;
	width: 230px;
}
.btnLegislatura{
	background-image: url("../images/legislatura.jpg");
	background-size: 150%;
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 200px;
	margin: 15px 0px;
	padding: 10;
	width: 200px;
}
.btnLegislatura:hover{
	background-image: url("../images/legislatura.jpg");
	background-position: center;
	background-size: 160%;
	border-radius: 50%;
	border: 3px solid #eee;
	box-shadow: 8px -8px 15px rgba(0,0,0,0.15);
	height: 230px;
	margin: 0px 0px;
	padding: 10;
	transition: all 500ms ease;
	width: 230px;
}
.btnSesion{
	background-image: url("../images/play.svg");
	background-size: 100%;
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 200px;
	margin: 15px 0px;
	padding: 10;
	width: 200px;
}
.btnSesion:hover{
	background-image: url("../images/play.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50%;
	border: 3px solid #eee;
	box-shadow: 8px -8px 15px rgba(0,0,0,0.15);
	height: 230px;
	margin: 0px 0px;
	padding: 10;
	transition: all 500ms ease;
	width: 230px;
}


.espacioSuperior{
	margin:10px 0;
}
.uno {
 background-color: tomato;
 border: 1px solid #eee;
 color: white;
 font-size: 28px;
 line-height: 50px;
 margin: 7px 0;
 padding: 0;
 text-align: center;
}

.otro {
 background-color: blue;
 border: 1px solid #eee;
 color: white;
 font-size: 28px;
 height: 75px;
 line-height: 50px;
 margin: 7px 0;
 padding: 0;
 text-align: center;
 transition: all 500ms ease;
}

.otro:hover {
 background-color: blue;
 border: 1px solid #eee;
 color: white;
 font-size: 28px;
 height: 200px;
 line-height: 50px;
 margin: 7px 0;
 padding: 0;
 text-align: center;
 transition: all 500ms ease;
}


/* PARALLAX RECINTO */

#recinto { 
	background: url(../images/recintoblur.jpg) 50% 0 fixed; 
	background-repeat: no-repeat;
	background-size: 150%;
	margin-top: 0px; 
    /*position: fixed; */
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
    padding: 20px;
}

.hero-unit {
	background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.media-object { width: 64px; height: 64px; padding-bottom: 30px }

/* ZOOM FOTOS */
.zoom{
	background-color: #FFFFFF;
	/*border:1px solid #eee;*/
	overflow:hidden;
	padding: 3px;
}
.zoom:Hover{
	/*border:1px solid #eee;*/
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	padding: 3px;
}
.zoom img {
	transition: 2s ease;
	-moz-transition: 2s ease; /* Firefox */
	-webkit-transition: 2s ease; /* Chrome - Safari */
	-o-transition: 2s ease; /* Opera */
}
.zoom:Hover img {
	transform : scale(1.25);
	-moz-transform : scale(1.25); /* Firefox */
	-webkit-transform : scale(1.25); /* Chrome - Safari */
	-o-transform : scale(1.25); /* Opera */
	-ms-transform : scale(1.25); /* IE9 */
}
.linea{
	width: 100%;
	height: 3px;
	background-color: #BD4E3A;
}

/* SLIDE */
html,
body {
    height: 220px;
}
#slideHistorico {
	height: 220px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* IGUALAR ALTO DE DIVS */
.row {
    display: table;
}
.row [class*="col-"] {
    display: table-cell;
}

/* TOOLTIPS */
.cajaRecinto{	
	width: 450px;
	height: 390px;
}
.fotoRecinto{
	border: 1px solid white;
	margin:auto;
}
.presidenteRecinto{
	background-color: #25D1CB;
	height: 15px;
	position: absolute;
	text-align: center;
	width: 50px;
}
.bloqueUCR{
	background-color: #6722A6;
	width: 30px;
	height: 15px;
	position: absolute;
}
.bloqueJusticialista{
	background-color: #000695;
	width: 30px;
	height: 15px;
	position: absolute;
}
.bloqueFUyO{
	background-color: #005600;
	width: 30px;
	height: 15px;
	position: absolute;
}
.bloqueFPJ{
	background-color: #0080B4;
	width: 30px;
	height: 15px;
	position: absolute;
}
.bloquePeronista{
	background-color: #F55004;
	width: 30px;
	height: 15px;
	position: absolute;
}
.bloqueIndependiente{
	background-color: #808080;
	width: 30px;
	height: 15px;
	position: absolute;
}
.bloquePresidente{
	background-color: #000000;
	border-radius: 50%;
	border: 1px solid white;
	width: 10px;
	height: 10px;
	position: absolute;
}
.lineaPresidente{
	z-index: 7;
}
.lineaRecinto1{
	z-index: 6;
}
.lineaRecinto2{
	z-index: 5;
}
.lineaRecinto3{
	z-index: 4;
}
.lineaRecinto4{
	z-index: 3;
}
.lineaRecinto5{
	z-index: 2;
}
.lineaRecinto6{
	z-index: 1;
}
.tooltipbloque {
    position: absolute;
    display: inline-block;
    border-bottom: 2px solid black;
}

.tooltipbloque .tooltiptextbloque {
    visibility: hidden;
    background-color: rgba(225,225,225,0.95); 
    width: 120px;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    margin: 20px -50px;
	box-shadow: 5px 5px 7px rgba(0,0,0,0.3);
}
.tooltipbloque .tooltiptextbloque > div > img{
	border-radius: 5px;
	border: 2px solid white;
	margin: 5px auto;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.tooltipbloque:hover .tooltiptextbloque {
    visibility: visible;
}


/* FIJA MENU */
.affix {
      top: 0;
      width: 100%;
}

.affix + .container-fluid {
      padding-top: 70px;
}