/* HOME */
.fondoPagina { 			
	background-color: #FFFFFF;
	/*background-color: #EAE6E3;*/
	/*background: url(../images/fondo.png) 50% 0 fixed; 
	background-repeat: repeat;*/
}
.marcoPagina{
	background-color:#FFFFFF;
	/*box-shadow: 0 0 40px rgba(0,0,0,0.3);*/
}
hr { 
   border: 2px solid #eeeeee; 
   border-radius: 200px ; 
   height: 0px; 
   text-align: center; 
 }
/* CABEZAL*/
.cabezal {
	height: 390px;
}

.fondoLogo{
	background-color: #FFFFFF;
	border-radius: 10px 10px 0 0;
	border: 1px;
	
	text-align: center;
	width: 200px;
}

.logo{
	margin:40px 12px 50px 12px;
}
.btnSILeJu{
	margin:150px 0;
	position: absolute;
}
.btnWebMail{
	margin-bottom: 15px;
	margin-right: 15px;
	position:absolute;
}
/* MENU */
.menuPrincipal{
	background-color: #29ABE2;
	color: #fff;
}
/* TEXTOS */
.tituloSeccion{
	color:#29ABE2;
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	margin-top:15px;
	margin-left:15px;
}
.titulo{
	font-family: 'Fjalla One', sans-serif;
	color:#BD4E3A;
	font-size: 20px;
	margin-top:10px;
}
.texto{
	font-family: 'Hind', sans-serif;
	font-size: 14px;
}
.textoBoletin{
	font-family: Arial;
	font-size:16px;
}
.tituloMapa{
	background-color: #808080;
	color:#fff;
	font-family: 'Hind', sans-serif;
	font-size: 14px;
	padding: 2px 0px 2px 25px;
}
.textoMapa{
	font-family: 'Hind', sans-serif;
	font-size: 12px;
	color:#fff;
}

/* SECCIONES */
.actividadDia{
	background-color: #29ABE2;
	border-radius: 5px;
	color:#fff;
	height: 350px;
	overflow: hidden;
	padding:15px;
}
#links{
	background-color: #808080;
	height: 100px;
}
.marcosPaz{
	background: linear-gradient( 180deg, #337ab7, white);
	/*background-color: #337ab7;*/
	height: auto;
	overflow: hidden;
	padding:15px;
}
.botonesLaterales{
	background: linear-gradient( 180deg, #337ab7, white);
	/*background-color: #337ab7;*/
	color:#fff;
	height: auto;
	overflow: hidden;
	padding:15px;
}
.boletinOficial{
	background-color: #EAE6E3;
	border-radius: 5px;
	border:2px solid #eee;
	height: 350px;
	overflow: hidden;
	padding:15px;
}
.noticiaImportante{
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #eee;
	float:left;
	height: 400px;
	overflow: hidden;
}

.noticiaChica{
	background-color: #EAE6E3;
	border-radius: 5px;
	border: 2px solid #eee;
	height: 185px;
	overflow: hidden;
	padding: 7px;
}
.noticiasChicas{
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #eee;
	float:left;
	height: 400px;
	margin:10px 2px 10px 2px;
	overflow: hidden;
	padding:7px;
}
.noticiasDiputados{
	background-color: #BD4E3A;
	height: auto;
	overflow: hidden;
}
.destacados{
	background-color: #808080;
	height: auto;
	overflow: hidden;
}
.mapaSitio{
	background-color: #337ab7;
	height: auto;
}
.izquierda{
	float:left;
}
.piePagina{
	background-color: #808080;
	color:#fff;
	font-size: 14px;
	height:auto;
	margin:0px 0;
	padding: 10px;
	text-align:center;
}

/* BOTONES */
.cajaBotonesGrandes{
	width: 100%;
	height: 300px;
	margin: auto;
}
.btnPresidencia{
	background-image: url("../images/haquim.jpeg");
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 200px;
	margin: 15px 0px;
	opacity: 30%;
	padding: 10;
	width: 200px;
}
.btnPresidencia:hover{
	background-image: url("../images/haquim.jpeg");
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 230px;
	margin: 0px 0px;
	padding: 10;
	opacity: 100%;
	transition: all 500ms ease;
	width: 230px;
}
.btnLegislatura{
	background-image: url("../images/legislatura.jpg");
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 200px;
	margin: 15px 0px;
	padding: 10;
	width: 200px;
}
.btnLegislatura:hover{
	background-image: url("../images/legislatura.jpg");
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 230px;
	margin: 0px 0px;
	padding: 10;
	transition: all 500ms ease;
	width: 230px;
}
.btnSesion{
	background-image: url("../images/play-button.svg");
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 200px;
	margin: 15px 0px;
	padding: 10;
	width: 200px;
}
.btnSesion:hover{
	background-image: url("../images/play-button.svg");
	background-position: center;
	border-radius: 50%;
	border: 3px solid #eee;
	height: 230px;
	margin: 0px 0px;
	padding: 10;
	transition: all 500ms ease;
	width: 230px;
}


.espacioSuperior{
	margin:10px 0;
}
.uno {
 background-color: tomato;
 border: 1px solid #eee;
 color: white;
 font-size: 28px;
 line-height: 50px;
 margin: 7px 0;
 padding: 0;
 text-align: center;
}

.otro {
 background-color: blue;
 border: 1px solid #eee;
 color: white;
 font-size: 28px;
 height: 75px;
 line-height: 50px;
 margin: 7px 0;
 padding: 0;
 text-align: center;
 transition: all 500ms ease;
}

.otro:hover {
 background-color: blue;
 border: 1px solid #eee;
 color: white;
 font-size: 28px;
 height: 200px;
 line-height: 50px;
 margin: 7px 0;
 padding: 0;
 text-align: center;
 transition: all 500ms ease;
}


/* PARALLAX RECINTO */

#recinto { 
	background: url(../images/recintoblur.jpg) 50% 0 fixed; 
	background-repeat: no-repeat;
	height: 425px;  
	margin: 0 auto; 
    width: 100%;
    /*position: fixed; */
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
    padding: 20px;
}

.hero-unit {
	background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.media-object { width: 64px; height: 64px; padding-bottom: 30px }

.cajaRecinto{	
	width: 400px;
	height: 400px;
}
.dipAzul{
	background-color: #2A2E9F;
	width: 20px;
	height: 10px;
	margin:5px 5px;
	position: absolute;
	z-index: 3;
}

/* ZOOM FOTOS */
.zoom{
	background-color: #FFFFFF;
	/*border:1px solid #eee;*/
	overflow:hidden;
	padding: 3px;
}
.zoom:Hover{
	/*border:1px solid #eee;*/
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	padding: 3px;
}
.zoom img {
	transition: 2s ease;
	-moz-transition: 2s ease; /* Firefox */
	-webkit-transition: 2s ease; /* Chrome - Safari */
	-o-transition: 2s ease; /* Opera */
}
.zoom:Hover img {
	transform : scale(1.25);
	-moz-transform : scale(1.25); /* Firefox */
	-webkit-transform : scale(1.25); /* Chrome - Safari */
	-o-transform : scale(1.25); /* Opera */
	-ms-transform : scale(1.25); /* IE9 */
}
.linea{
	width: 100%;
	height: 3px;
	background-color: #BD4E3A;
}

/* SLIDE */
html,
body {
    height: 390px;
}
#slideHistorico {
	height: 200px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* IGUALAR ALTO DE DIVS */
.row {
    display: table;
}
.row [class*="col-"] {
    display: table-cell;
}

/* TOOLTIPS */
.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #eee;
    background-opacity:0.2;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 10;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* FIJA MENU */
.affix {
      top: 0;
      width: 100%;
}

.affix + .container-fluid {
      padding-top: 70px;
}