<!-- Widget: Actualidad Del Dia -->
<div class="panel">
    <div class="panel-body">
        <p class="tituloSeccion text-nowrap">Actividad del d&iacute;a</p>
        <div class="actividadDia">
            <div class="zoom">
                <a ng-click="showDialogActividadDelDia()" style="cursor:pointer;">
                    <img class="img-responsive" src="/imgcdn/actividad/{{actividadDelDiaContent.archivo.archivo}}">
                </a>
            </div>
            <div class="linea"></div>
            <a  ng-click="showDialogActividadDelDia()"  style="cursor:pointer;">
                <p class="titulo" style="color:#fff;">
                    {{actividadDelDiaContent.titulo}}
                </p>
            </a>
            <p class="texto text-justify">
                <ng-bind-html ng-bind-html="actividadDelDiaContent.actividad"></ng-bind-html>
            </p>
        </div>
    </div>
</div>
<!-- /Widget: Actividad del Dia --> 