<!-- Contenedor Archivo historico -->
<div>
    <div class="botonesLaterales text-center">
        <p class="tituloSeccion" style="color: #fff">Archivo Hist&oacute;rico</p>
        <div style="background-color:#eeeeee; padding:10px;">
            <div id="slideHistorico" class="carousel slide" style="margin-bottom: 10px;">
                <a href="historico.html">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="fill" style="background-image:url('images/hist01.jpg');"></div>
                    </div>
                    <div class="item">
                        <div class="fill" style="background-image:url('images/hist02.jpg');"></div>
                    </div>
                    <div class="item">
                        <div class="fill" style="background-image:url('images/hist03.jpg');"></div>
                    </div>
                </div></a>
                <a class="left carousel-control" href="#slideHistorico" data-slide="prev">
                <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#slideHistorico" data-slide="next">
                <span class="icon-next"></span>
                </a>
            </div>

            <a href="/convencion_constituyente_1986" target="_blank" class="btn btn-danger btn-block">
                <p>Honorable</p>
                <p>Convenci&oacuten</p>
                <p>Constituyente</p>
                <p>de la Provincia</p>
                <p>de Jujuy</p>
            </a>
            <!--
            <button class="btn btn-info btn-block">
                <p>Ceremonial</p>
                <p>y Protocolo</p>
            </button>
            <button class="btn btn-info btn-block">
                <p>Biblioteca</p>
            </button>
            -->
            <a href="#/audiencias-publicas" class="btn btn-info btn-block">
                <p>Audiencias</p>
                <p>P&uacuteblicas</p>
            </a>
            <a href="/himno_exodo_jujuy/" class="btn btn-info btn-block" target="_blank">
                <p>Himno al Exodo</p>
                <p>de Jujuy</p>
            </a>
            <a href="/img/sesiones/apertura2016.pdf" class="btn btn-info btn-block" target="_blank"
                <p>Estado de Situación</p>
                <p>Gestión y Proyección</p>
                <p>Del Gobiernode Jujuy</p>
            </a>
            <a href="/documentos_prensa/" class="btn btn-info btn-block" target="_blank"
                <p>Historia de la</p>
                <p>Legislatura</p>
                <p>de Jujuy</p>
            </a>

        </div>
    </div>
</div> <!-- Cierre Archivo Historico -->