<!--Widget: Marcos Paz -->
<aside>
    <div class="container col-xs-12 col-md-3">
        <p class="tituloSeccion hidden-md">Sal&oacuten Marcos Paz</p>
        <p class="tituloSeccion visible-sm visible-md">Marcos Paz</p>
        <div class="marcosPaz">
            <div class="zoom">
                <a href="#" data-toggle="modal" data-target="#marcosPaz"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-46888100-1474373928-DSC_1448.JPG"></a>
            </div>
            <div class="linea"></div>
            <a href="#" data-toggle="modal" data-target="#marcosPaz"><p class="titulo">EL VICEGOBERNADOR ACOMPAÑÓ A LA JUVENTUD EN LA ELECCIÓN PROVINCIAL</p></a>
        </div>
    </div>
</aside>
<!-- /Widget: Marcos Paz -->