<div class="panel">
    <div class="panel-body">
        <p class="tituloSeccion hidden-md">Sal&oacuten Marcos Paz</p>
        <p class="tituloSeccion visible-sm visible-md">Marcos Paz</p>
        <div class="marcosPaz">
        <div class="zoom">
            <a>
                <img class="img-responsive" src="/imgcdn/actividad/{{marcosPazWidgetContent.archivo.archivo}}">
            </a>
        </div>
        <div class="linea"></div>
        <a>
            <p class="titulo">
                {{marcosPazWidgetContent.titulo}}
            </p>
        </a>
    </div>    
    </div>
</div>