					<article>
						<div class="row clearfix">
							<div class="noticiasDiputados espacioSuperior" style="margin-left: 15px;">
								<div class="container col-xs-12 col-md-6 clearfix espacioSuperior">
									<p class="tituloSeccion espacioSuperior" style="color:#fff;">Noticias</p>
										<div class="zoom">
											<a href="#"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-05010000-1474299877-DSC_0038.jpg"></a>
										</div>
										<div class="linea" style="background-color: #337ab7;"></div>
										<a href="#"><p class="titulo" style="color: #fff;">EN LA LEGISLATURA SE REALIZÓ EL EXAMEN PARA OCUPAR EL CARGO DE JUEZ DE VIOLENCIA DE GÉNERO</p></a>
										<p class="texto text-justify" style="color: #fff;">En el marco de la nueva metodología de selección de integrantes del Poder Judicial, más de veinte postulantes rindieron en el Recinto de la Legislatura,el examen que constituye el concurso de oposición para ocupar el cargo de Juez de violencia de Género.  </p>
								</div>
												
								<div class="container col-xs-12 col-md-6 espacioSuperior">
									<div class="noticiaChica">
										<div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
											<a href="#"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-94258800-1474285012-DSC_0009.jpg" height="100%" alt=""></a>
											<div class="linea" style="background-color: #337ab7;"></div>
										</div>
										<a href="#"><p class="titulo">ALUMNOS DE LA ESCUELA PRIMARIA N°299 DE LA LOCALIDAD DE LAGUNILLAS DE POZUELOS VISITARON LA LEGISLATURA</p></a>
									</div>
									<div class="noticiaChica" style="margin-top:6px;">
										<div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
											<a href="#"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-34419600-1474284659-DSC_0051.jpg" height="100%" alt=""></a>
											<div class="linea" style="background-color: #337ab7;"></div>
										</div>
										<a href="#"><p class="titulo">RECONOCIMIENTO PARA EL CANTAUTOR JUJEÑO NINO FUENTES</p></a>
									</div>
									<button type="button" class="btn btn-warning btn-block espacioSuperior">M&aacute;s noticias</button>
								</div>
							</div>
						</div>
					</article>