<div class="noticiaChica">
    <div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
        <a href="noticia2.html"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-61829400-1474738180-IMG_0623.jpg" alt="" height="100%"></a>
        <div class="linea"></div>								
    </div>
    <a href="noticia2.html"><p class="titulo">CARLOS HAQUIM PARTICIPÓ DEL 62° CONGRESO NACIONAL  DE VETERANOS DE GUERRA DE LA REPÚBLICA ARGENTINA</p></a>
</div>
<div class="noticiaChica" style="margin-top:6px">
    <div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
        <a href="#"><img class="" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-68352700-1474629798-DSC_0114.JPG" alt="" height="100%"></a>
        <div class="linea"></div>
    </div>
    <a href="#"><p class="titulo">CARLOS HAQUIM RECIBIÓ A VETERANOS DE MALVINAS</p></a>
</div>