<div class="noticiaChica">
    <div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
        <a href="#/leer-noticia/{{noticiasDestacadasRojo.noticias[1].uriname}}">
            <img src="/imgcdn/fotografias/{{noticiasDestacadasRojo.noticias[1].fotografias[0].fotografia}}" height="100%"/>
        </a>
        <div class="linea" style="background-color: #337ab7;"></div>
    </div>
    <a href="#/leer-noticia/{{noticiasDestacadasRojo.noticias[1].uriname}}">
        <p class="titulo">
            {{noticiasDestacadasRojo.noticias[1].titulo}}
        </p>
    </a>
</div>
<div class="noticiaChica" style="margin-top:6px;">
    <div class="zoom pull-left" style="margin: 0 5px; width: 150px; height: 150px;">
        <a href="#/leer-noticia/{{noticiasDestacadasRojo.noticias[2].uriname}}">
            <img src="/imgcdn/fotografias/{{noticiasDestacadasRojo.noticias[2].fotografias[0].fotografia}}" height="100%"/>
        </a>
        <div class="linea" style="background-color: #337ab7;"></div>
    </div>
    <a href="#/leer-noticia/{{noticiasDestacadasRojo.noticias[2].uriname}}">
        <p class="titulo">
            {{noticiasDestacadasRojo.noticias[2].titulo}}
        </p>
    </a>
</div>
<a href="#/prensa/noticias" type="button" class="btn btn-warning btn-block espacioSuperior">Más noticias</a>