<div class="zoom">
    <a href="noticia.html"><img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-90017000-1474738591-14358737_703890403101427_7614554396167913057_n.jpg"></a>
</div>
<div class="linea"></div>
<a href="noticia.html"><p class="titulo">EL VICEGOBERNADOR ACOMPAÑÓ A ROGELIO FRIGERIO DURANTE SU VISITA</p></a>
<p class="texto text-justify">Como parte de una agenda muy apretada, el presidente de la Cámara de Diputados de Jujuy, Carlos Haquim acompañó la visita del ministro del Interior de la Nación, Rogelio Frigerio, el Gobernador, Gerardo Morales, el intendente de San Salvador de Jujuy, Raúl Jorge y al intendente de la ciudad de Palpalá, Pablo Palomares...
</p>