<p class="tituloSeccion espacioSuperior" style="color:#fff;">
    Noticias
</p>
<div class="zoom">
    <a href="#/leer-noticia/{{noticiasDestacadasRojo.noticias[0].uriname}}">
        <img class="img-responsive" src="/imgcdn/fotografias/{{noticiasDestacadasRojo.noticias[0].fotografias[0].fotografia}}">
    </a>
</div>
<div class="linea" style="background-color: #337ab7;"></div>
<a href="#/leer-noticia/{{noticiasDestacadasRojo.noticias[0].uriname}}">
    <p class="titulo" style="color: #fff;">
        {{noticiasDestacadasRojo.noticias[0].titulo}}
    </p>
</a>
<p class="texto text-justify" style="color: #fff;">
    {{noticiasDestacadasRojo.noticias[0].cabeza}}
</p> 