<ng-repeat ng-repeat="n in noticiasDestacadas3Content.noticias">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="zoom">
            <a href="#/leer-noticia/{{n.uriname}}">
                <img class="img-responsive" src="/imgcdn/fotografias/{{n.fotografias[0].fotografia}}"></a>
        </div>
        <div class="linea"></div>
        <a href="#/leer-noticia/{{n.uriname}}">
            <p class="titulo">
                {{n.titulo}}
            </p>
        </a>
        <p class="texto text-justify">
            <ng-bind-html ng-bind-html="n.cabeza"></ng-bind-html>
        </p>
    </div>
</ng-repeat>