<div class="zoom">
    <a href="#/leer-noticia/{{noticiasDestacadas12Content.noticias[0].uriname}}">
        <img class="img-responsive" src="/imgcdn/fotografias/{{noticiasDestacadas12Content.noticias[0].fotografias[0].fotografia}}">
    </a>
</div>
<div class="linea"></div>
<a href="#/leer-noticia/{{noticiasDestacadas12Content.noticias[0].uriname}}">
    <p class="titulo">
        {{noticiasDestacadas12Content.noticias[0].titulo}}
    </p>
</a>
<p class="texto text-justify">
    <ng-bind-html ng-bind-html="noticiasDestacadas12Content.noticias[0].cabeza"></ng-bind-html>
</p>
 