<div class="panel">
    <div class="panel-body">
        <p class="tituloSeccion hidden-md">Sal&oacuten Marcos Paz</p>
        <p class="tituloSeccion visible-sm visible-md">Marcos Paz</p>
        <div class="marcosPaz">
        <div class="zoom">
            <a ng-click="showDialogSalonMarcosPaz()" style="cursor:pointer;">
                <img class="img-responsive" src="/imgcdn/actividad/{{salonMarcosPazContent.archivo.archivo}}">
            </a>
        </div>
        <div class="linea"></div>
        <a ng-click="showDialogSalonMarcosPaz()" style="cursor:pointer;">
            <p class="titulo">
                {{salonMarcosPazContent.titulo}}
            </p>
        </a>
    </div>    
    </div> 
</div>