<!-- Links -->
<div class="text-center" style="background-color: #337ab7; height: 100px; box-shadow: 0 0 25px rgba(0,0,0,0.3);">
    <div class="container espacioSuperior">
        <p class="tituloSeccion" style="color: #eee;">Links
        <a href="http://jujuy.gob.ar/" target="_blank"><button class="btn"><img src="images/logo_gobierno.png" height="40" alt=""></button></a>
        <a href="http://www.senado.gov.ar/" target="_blank"><button class="btn"><img src="images/logo_senado.png" height="40" alt=""></button></a>
        <a href="http://www.diputados.gov.ar/" target="_blank"><button class="btn"><img src="images/logo_diputados.png" height="40" alt=""></button></a></p>
    </div>
</div>
<!-- /Links -->