<div class="panel" ng-controller="boletinLegislativoController">
    <div class="panel-heading">
        <p class="tituloSeccion">
            Bolet&iacute;n Legislativo
        </p>
    </div>
    <div lass="panel-body">
        
            <ul id="scrollBoletin">
                <li ng-repeat="b in boletinInformativoContent">
                    <a ng-click="showDialogBoletinLegislativoFloat()" style="cursor:pointer;">
                        <div class="container-fluid">
                            <p class="titulo">BOLETÍN LEGISLATIVO {{b.titulo}}</p>
                            <p class="text-justify texto">Periodo Legislativo: {{b.periodo}}</p>
                            <p class="text-justify texto">Sesión N° y Tipo: {{b.session}}</p>
                            <p class="text-justify texto">Fecha: {{b.fecha}}  Horas: {{b.hora}}</p>
                        </div>
                    </a>
                </li>
            </ul>
    </div>
    <div class="panel-footer espacioSuperior clearfix">
        <div class="pull-right">
            <button ng-click="showDialogBoletinInformativoInformation()" type="button" class="btn btn-info">
                Informaci&oacute;n
                <span class="glyphicon glyphicon-info-sign"/>
            </button>
            <button ng-click="showDialogBoletinLegislativoGoPage()"    type="button" class="btn btn-primary">
                Buscar por fecha
                <span class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
    </div>
</div>