<table class="table table-striped table-hover table-bordered table-responsive">
	<tr>
		<td>
			<div class="container-fluid text-center">
				<a href="javascript:onEventClose('#/orden-del-dia');">
					<img src="/imgcdn/iconparliament/orden_del_dia.gif" style="width:80px;" alt="Orden del Día"/>
				</a>
				<br/>
				<strong>
					Orden del Dia
				</strong>
			</div>
		</td>
		<td>
			<div class="container-fluid text-center">
				<a href="javascript:onEventClose('#/proyectos');">
					<img src="/imgcdn/iconparliament/busqueda_de_proyectos.gif" style="width:80px;" alt="Búsqueda de Proyectos"/>
				</a>
				<br/>
				<strong>
					Busqueda de Proyectos
				</strong>
			</div>
		</td>
		<td>
			<div class="container-fluid text-center">
				<a href="javascript:onEventClose('#/boletin-legislativo');">
					<img src="/imgcdn/iconparliament/boletin_legislativo.gif" style="width:80px;" alt="Boletín Legislativo"/>
				</a>
				<br/>
				<strong>
					Boletin
					<br/>
					Legislativo
				</strong>
			</div>
		</td>
		<td>
			<div class="container-fluid text-center">
				<a href="javascript:onEventClose('#/versiones-taquigraficas');">
					<img src="/imgcdn/iconparliament/versiones_taquigraficas.gif" style="width:80px;" alt="Versiones Taquigráficas"/>
				</a>
				<br/>
				<strong>
					Versiones
					<br/>
					Taquigráfias
				</strong>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="container-fluid text-center">
				<a href="javascript:onEventClose('#/audiencias-publicas');">
					<img src="/imgcdn/iconparliament/audiencias_publicas.gif" style="width:80px;" alt="Audiencias Públicas"/>
				</a>
				<br/>
				<strong>
					Audiencias
					<br/>
					Públicas
				</strong>
			</div>
		</td>
		<td>
			<div class="container-fluid text-center">
				<a href="javascript:onEventClose('#/parlamento-juvenil');">
					<img src="/imgcdn/iconparliament/parlamento_juvenil.gif" style="width:80px;" alt="Parlamento Juvenil"/>
				</a>
				<br/>
				<strong>
					Parlamento
					<br/>
					Juvenil
				</strong>
			</div>
		</td>
		<td>
			<div class="container-fluid text-center">
				<a href="javascript:onEventClose('#/acceso-a-leyes');">
					<img src="/imgcdn/iconparliament/acceso_a_leyes.gif" style="width:80px;" alt="Acceso a Leyes"/>
				</a>
				<br/>
				<strong>
					Acceso
					<br/>
					a Leyes
				</strong>
			</div>
		</td>
		<td>
			<div class="container-fluid text-center">
				&nbsp;
			</div>
		</td>
	</tr>
</table>

<script>
    function onEventClose(uri){window.a.close(); window.location.href=uri;};
</script>