<div id="marcosPaz" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sal&oacute;n Marcos Paz</h4>
                    </div>
                    <div class="container modal-body">
                    <img class="img-responsive" src="http://www.legislaturajujuy.gov.ar/img/fotografias/0-46888100-1474373928-DSC_1448.JPG" width="800"></img>
                    <p class="titulo">Nombre de la Actividad</p>
                    <div class="container text-justify">
                        <table border="1px" width="70%">
                            <thead>
                                <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Contenido</th>
                                <th>Requisitos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <td>25/09/2016</td>
                                <td>20.30hs.</td>
                                <td>Descripci&oacute;n de la actividad</td>
                                <td>Requisitos para participar</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
</div>