<div class="hidden">
    <div class="panel" id="dialogSalonMarcosPaz">
        <div class="panel-body">
                <ng-show ng-show="salonMarcosPazContent.archivo">
                    <img class="img-responsive" src="{{salonMarcosPazContent.archivo.archivo}}" width="800"></img>
                </ng-show>
                <p class="titulo">{{salonMarcosPazContent.titulo}}</p>
                <!-- Contenido -->
                <table
                    style="width:100%; border:1px solid #000;">
                    <tr style="text-align:center;border-bottom:5px solid #75716c;">
                        <td style="padding:3px;"><strong>Fecha</strong></td>
                        <td style="padding:3px;"><strong>Hora</strong></td>
                        <td style="padding:3px;"><strong>Contenido</strong></td>
                        <td style="padding:3px;"><strong>Requisitos</strong></td>
                    </tr>
                    <tr>
                        <td style="padding:3px;">{{salonMarcosPazContent.fecha}}</td>
                        <td style="padding:3px;">{{salonMarcosPazContent.hora}}</td>
                        <td style="padding:3px;"><ng-bind-html ng-bind-html="salonMarcosPazContent.actividad"></ng-bind-html></td>
                        <td style="padding:3px;"><ng-bind-html ng-bind-html="salonMarcosPazContent.requisitos"></ng-bind-html></td>
                    </tr>
                </table>
        <div>
    </div>
</div>