<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Autoridades / Presidente
        </h4>
    </div>
    <div class="panel-body">


        <div class="row clearfix">
            <div class="zoom pull-left" style="width: 50%;">
                <img class="img-responsive" src="/imgcdn/autoridades/vicegobernador-cpn-carlos-guillermo-haquim.jpg.jpg" alt="Felipe Javier de Bedia">
            </div>
            <h1>Carlos Guillermo Haquim</h1>
        </div>
            
        <div class="row">
            <h3 class="tituloSeccion">Biograf&iacute;a</h3>
            <table class="table table-hover table-striped">
                <tr>
                    <td class="texto text-justify">Fecha de Nacimiento: 14 de Julio de 1956.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">T&iacute;tulo: Contador P&uacute;blico Nacional</td>
                </tr>
            </table>
        </div>


        <div class="row">
            <p class="tituloSeccion">Cursos y Seminarios</p>
            <table class="table table-hover table-striped">
                <tr>
                    <td class="texto text-justify">“V CONGRESO INTERNACIONAL DEL CLAD” (Centro Latinoamericano de Administración para el Desarrollo)- Sobre Reforma del Estado y la Administración Pública” Octubre del 2000-Santo Domingo-República Dominicana.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">“I ENCUENTRO INTERNACIONAL SOBRE DERECHO Y SUS RETOS FRENTE A LA CORRUPCIÓN” IDID (INSTITUTO DE DESARROLLO E INVESTIGACIONES DEL DERECHO) Mayo-2001- Cuba- La Habana.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">“VI CONGRESO INTERNACONAL DEL CLAD” (Centro Latinoamericano de Administración para el Desarrollo) - Sobre Reforma del Estado y la Administración Pública” Noviembre del 2001 -Buenos Aires- Argentina. </td>
                </tr>
                <tr>
                    <td class="texto text-justify">III CURSO DE FORTALECIMIENTO INSTITUCIONAL PARA EL OMBUSMAN IBEROAMERICANO – Programa Regional de Apoyo a las Defensorías del Pueblo en Iberoamericana Mayo 2002 Universidad de Alcalá Madrid España.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">SEMINARIO INTERNACIONAL OMBUSMAN, DERECHOS HUMANOS Y POLITICAS PUBLICAS (PRADPI, CICCODE DE LA UNIVERSIDAD DE ALCALA, LA COMISION EUROPEA Y LA AGENCIA ESPAÑOLA DE COOPERACION INTERNACIONAL Agosto -2002- Centro de Formación de La Cooperación Española en Cartagena de Indias- Colombia.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">SEMINARIO DE TRABAJO”HACIA UN INFORME REGIONAL DE DERECHOS HUMANOS” PRADIP (El Programa Regional de Apoyo a la Defensorías del Pueblo en Iberoamérica), AECI (Agencia Española de Cooperación UNIVERSIDAD DE ALCALA Y AECI (Agencia Española de Cooperación Internacional) Diciembre 2002 en el Centro de Formación de La Cooperación Española Santa Cruz de la Sierra -Bolivia</td>
                </tr>
                <tr>
                    <td class="texto text-justify">“CURSO OBUSMAN IBEROAMERICANO FRENTE A LA MEDIACIÓN Y NEGOCIACIÓN” PRADIP ( El Programa Regional de Apoyo a la Defensorías del Pueblo en Iberoamérica) y AECI (Agencia Española de Cooperación Internacional)- Mayo 2003- Centro de Cooperación Española Antigua - Guatemala</td>
                </tr>
                <tr>
                    <td class="texto text-justify">SEMINARIO INTERNACIONAL” EL RETO DE LAFORMACION EN LINEA EN DERECHOS HUMANOS” FIO (La Federación Iberoamericana del Ombudsman), EL CENTRO DE INICIATIVA DE COOPERACION AL DESARROLLO DE LA UNIVERSIDAD DE ALCALA y AECI (Agencia Española de Cooperación Internacional) – Julio 2003 en el Centro de Formación de La Cooperación Española Santa Cruz de la Sierra -Bolivia</td>
                </tr>
                <tr>
                    <td class="texto text-justify">“III CUSO DE INICICIACION A LOS DERECHOS HUMANOS” UNIVERSIDAD DE ALCALA, PROGRAMA REGIONAL DE APOYO A LAS DEFENSORIAS DE IBEROAMERICA.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">SEMINARIO “EL OBUSMAN, LAS MIGRACIONES Y LOS DERECHOS HUMANOS” PRADIP (El Programa Regional de Apoyo a la Defensorías del Pueblo en Iberoamérica) y AECI (Agencia Española de Cooperación Internacional), UNIVERSIDAD DE ALCALA Y AECI (Agencia Española de Cooperación Internacional) Noviembre del 2003 – Centro de Cooperación Española en Cartagena de Indias- Colombia.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">SEMINARIO “LA DEFENSA DE LOS DERECHOS AMBIENTALES- UNA VISÖN PLURAL” Colegio de Abogados y Procuradores de Jujuy, Defensor del Pueblo de la Nación y El Instituto de Derecho Ambiental- Setiembre del 2009- San Salvador de Jujuy- Argentina</td>
                </tr>
                <tr>
                    <td class="texto text-justify">CONGRESO INTERNACIONAL “ LA PROTECCION DE LOS DERECHOS HUMANOS POR LAS DEFENSORIAS DEL PUEBLO” El programa regional de apoyo a las Defensorías del Pueblo de Iberoamericana, de la Universidad de Alcala –Junio del 2011 en la Universidad de Alcalá.</td>
                </tr>
                <tr>
                    <td class="texto text-justify">SEMINARIO INTERNACIONAL “LOS DERECHOS HUMANOS DE LAS MUJERES Y LA PROTECCION INTEGRAL DE LOS NIÑOS RECIEN NACIDOS. Defensor del Pueblo de la Provincia de Jujuy y OM Oficina de la Mujer Poder Judicial de la Provincia de Jujuy – Setiembre del 2011 en San Salvador de Jujuy - Argentina.</td>
                </tr>
            </table>
        </div>


        <div class="row">
            <p class="tituloSeccion">Antecedentes Laborales</p>
            <table class="table table-hover table-striped">
                <tr>
                    <td class="texto text-justify">Profesor de la cátedra Legislación y Practica Impositiva en la Escuelas de Comercio Nº 1 y 2- Jujuy 1975-1995</td>
                </tr>
                <tr>
                    <td class="texto text-justify">Jefe Contable Hospital Soria – Jujuy</td>
                </tr>
                <tr>
                    <td class="texto text-justify">Asesor Contable de Municipios - Jujuy</td>
                </tr>
                <tr>
                    <td class="texto text-justify">Contador General Municipio San Salvador de Jujuy</td>
                </tr>
                <tr>
                    <td class="texto text-justify">Director Interventor Banco de la Provincia de Jujuy</td>
                </tr>
                <tr>
                    <td class="texto text-justify">Sindico Titular Banco de la Provincia de Jujuy</td>
                </tr>
                <tr>
                    <td class="texto text-justify">Diputado de la Nación 1995/1999</td>
                </tr>
                <tr>
                    <td class="texto text-justify">Secretario General Defensor del Pueblo Argentina desde 2000 hasta la fecha</td>
                </tr>
            </table>
        </div>




    </div>
</div>