<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title text-capitalize text-nowrap">
            autoridades / secretario parlamentario
        </h4>
    </div>
    <div class="panel-body">



				<div class="row clearfix">
						<div class="zoom pull-left" style="width: 50%;">
							<img class="img-responsive" src="/imgcdn/autoridades/sec-parlam-dr-javier-de-bedia.jpg.jpg" alt="Felipe Javier de Bedia">
						</div>
						<h1>Felipe Javier de Bedia</h1>
				</div>

				<div class="row">
					<p class="tituloSeccion">Biograf&iacute;a</p>
					<table class="table table-hover table-striped">
								<tr>
									<td class="texto text-justify">Fecha de Nacimiento</td>
								</tr>
								<tr>
									<td class="texto text-justify">T&iacute;tulo:</td>
								</tr>
					</table>
				</div>

				<div class="row">
					<p class="tituloSeccion">Cursos y Seminarios</p>
					<table class="table table-hover table-striped">
								<tr>
									<td class="texto text-justify">“V CONGRESO INTERNACIONAL DEL CLAD” (Centro Latinoamericano de Administración para el Desarrollo)- Sobre Reforma del Estado y la Administración Pública” Octubre del 2000-Santo Domingo-República Dominicana.</td>
								</tr>
								<tr>
									<td class="texto text-justify">“I ENCUENTRO INTERNACIONAL SOBRE DERECHO Y SUS RETOS FRENTE A LA CORRUPCIÓN” IDID (INSTITUTO DE DESARROLLO E INVESTIGACIONES DEL DERECHO) Mayo-2001- Cuba- La Habana.</td>
								</tr>
								<tr>
									<td class="texto text-justify">“VI CONGRESO INTERNACONAL DEL CLAD” (Centro Latinoamericano de Administración para el Desarrollo) - Sobre Reforma del Estado y la Administración Pública” Noviembre del 2001 -Buenos Aires- Argentina. </td>
								</tr>
								<tr>
									<td class="texto text-justify">III CURSO DE FORTALECIMIENTO INSTITUCIONAL PARA EL OMBUSMAN IBEROAMERICANO – Programa Regional de Apoyo a las Defensorías del Pueblo en Iberoamericana Mayo 2002 Universidad de Alcalá Madrid España.</td>
								</tr>
					</table>
				</div>



    </div>
</div>