<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Autoridades / Vice Presidente 1º
        </h4>
    </div>
    <div class="panel-body">



        <div class="row clearfix">
            <div class="zoom pull-left" style="width: 50%;">
                <img class="img-responsive" src="/imgcdn/autoridades/vicepresidente-1-carlos-amaya.jpg.jpg" alt="Felipe Javier de Bedia">
            </div>
            <h1>Carlos Amaya</h1>
        </div>
            
        <div class="row">
            <h3 class="tituloSeccion">Biograf&iacute;a</h3>
            <table class="table table-hover table-striped">
                <tr>
                    <td class="texto text-justify">Fecha de Nacimiento: </td>
                </tr>
                <tr>
                    <td class="texto text-justify">T&iacute;tulo: </td>
                </tr>
            </table>
        </div>



    </div>
</div>